<section class="booking_flow">
    <div class="container-fluid">
        <!-- <div class="booking_row">
            <div class="col-2"> -->
        <div class="stepper-card-container">
            <div class="stepper-card">
                <ng-container>
                    <div class="w-100-p">
                        <div class="d-flex justify-content-center form-width flex-column">
                            <div class="text-content">
                                <h1 class="title">Profile</h1>
                                <p class="lead paragraph-desc">
                                </p>
                            </div>
                            <!-- <---------------------------------Personal Information---------------------------->

                            <div class="text-content mt-32">
                                <h2 class="profile-header-text">Personal Information</h2>

                            </div>
                            <hr>

                            <form [formGroup]="personalInformationForm" autocomplete="disable">
                                <div class="form-wrapper">
                                    <div class="d-flex gap-4 group-wrapper ">
                                        <div class="input-group">
                                            <label for="fname">First Name</label>
                                            <input type="text" placeholder="Enter First Name"
                                                formControlName="firstName" class="border" name="new-firstName"
                                                autocomplete="off" aria-autocomplete required />
                                            <ng-container
                                                *ngIf="personalInformationForm.get('firstName')?.invalid && (personalInformationForm.get('firstName')?.dirty || personalInformationForm.get('firstName')?.touched)">
                                                <ng-container *ngIf="personalInformationForm.get('firstName')?.errors">
                                                    <span class="text-danger error-state">First Name is
                                                        required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>
                                        <div class="input-group">
                                            <label for="lname">Last Name</label>
                                            <input type="text" placeholder="Enter Last Name" class="border"
                                                formControlName="lastName" autocomplete="off" aria-autocomplete required
                                                name="new-lastName" />
                                            <ng-container
                                                *ngIf="personalInformationForm.get('lastName')?.invalid && (personalInformationForm.get('lastName')?.dirty || personalInformationForm.get('lastName')?.touched)">
                                                <ng-container *ngIf="personalInformationForm.get('lastName')?.errors">
                                                    <span class="text-danger error-state">Last Name is
                                                        required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>

                                        <div class="input-group">
                                            <label for="fname">Gender</label>
                                            <select class="form-select input-style" aria-label="Default select example"
                                                formControlName="gender">
                                                <option disabled selected>Select your Gender</option>
                                                <option *ngFor="let item of genderLov" [value]="item.value">{{
                                                    item.value }}</option>
                                            </select>

                                            <ng-container
                                                *ngIf="personalInformationForm.get('gender')?.invalid && (personalInformationForm.get('gender')?.dirty || personalInformationForm.get('gender')?.touched)">
                                                <ng-container *ngIf="personalInformationForm.get('gender')?.errors">
                                                    <span class="text-danger error-state">Gender is
                                                        required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>

                                    </div>

                                    <div class="d-flex gap-4 group-wrapper mt-12 ">

                                        <div class="input-group">
                                            <label for="fname">Phone Number</label>

                                            <input type="text" mask="(000) 000-0000" placeholder="(123)-456-7890"
                                                formControlName="contactNumber" class="border" name="new-contactNumber"
                                                autocomplete="off" aria-autocomplete required />

                                            <ng-container
                                                *ngIf="personalInformationForm.get('contactNumber')?.invalid && (personalInformationForm.get('contactNumber')?.dirty || personalInformationForm.get('contactNumber')?.touched)">
                                                <ng-container
                                                    *ngIf="personalInformationForm.get('contactNumber')?.errors">
                                                    <span class="text-danger error-state">Phone Number is
                                                        required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>
                                        <div class="input-group">
                                            <label for="fname">Email</label>
                                            <input type="email" placeholder="Enter Email" formControlName="email"
                                                class="border" name="new-email" autocomplete="off" aria-autocomplete
                                                required />

                                            <ng-container
                                                *ngIf="personalInformationForm.get('email')?.invalid && (personalInformationForm.get('email')?.dirty || personalInformationForm.get('email')?.touched)">
                                                <ng-container *ngIf="personalInformationForm.get('email')?.errors">
                                                    <span class="text-danger error-state">Email is
                                                        required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>



                                    </div>


                                </div>
                            </form>

                            <!-- <---------------------------------Practice Information---------------------------->

                            <div class="text-content mt-32">
                                <h2 class="profile-header-text">Practice Information</h2>

                            </div>
                            <hr>

                            <form [formGroup]="practiceInformationForm" autocomplete="disable">

                                <div class="form-wrapper">
                                    <div class="d-flex gap-4 group-wrapper ">
                                        <div class="input-group">
                                            <label for="fname">Practice Name</label>
                                            <input type="text" placeholder="Enter Practice Name"
                                                formControlName="practiceName" class="border" name="new-practiceName"
                                                autocomplete="off" aria-autocomplete required />
                                            <ng-container
                                                *ngIf="practiceInformationForm.get('practiceName')?.invalid && (practiceInformationForm.get('practiceName')?.dirty || practiceInformationForm.get('practiceName')?.touched)">
                                                <ng-container
                                                    *ngIf="practiceInformationForm.get('practiceName')?.errors">
                                                    <span class="text-danger error-state">Practice Name is
                                                        required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>
                                        <div class="input-group">
                                            <label for="speciality">Practice or provider’s speciality</label>

                                            <select class="form-select input-style" aria-label="Default select example"
                                                formControlName="providersSpeciality">
                                                <option disabled selected>Provider speciality</option>
                                                <option *ngFor="let item of mainSpecialityLov" [value]="item.value">{{
                                                    item.value }}</option>
                                            </select>
                                            <ng-container
                                                *ngIf="practiceInformationForm.get('providersSpeciality')?.invalid && (practiceInformationForm.get('providersSpeciality')?.dirty || practiceInformationForm.get('providersSpeciality')?.touched)">
                                                <ng-container
                                                    *ngIf="practiceInformationForm.get('providersSpeciality')?.errors">
                                                    <span class="text-danger error-state">Practice or provider’s
                                                        speciality is required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>
                                        <div class="input-group">
                                            <label for="fname">Practice Size</label>
                                            <select class="form-select input-style" aria-label="Default select example"
                                                formControlName="practiceSize">
                                                <option disabled selected>Practice Size</option>
                                                <option *ngFor="let item of practiceSize" [value]="item.value">{{
                                                    item.value }}</option>
                                            </select>
                                            <ng-container
                                                *ngIf="practiceInformationForm.get('practiceSize')?.invalid && (practiceInformationForm.get('practiceSize')?.dirty || practiceInformationForm.get('practiceSize')?.touched)">
                                                <ng-container
                                                    *ngIf="practiceInformationForm.get('practiceSize')?.errors">
                                                    <span class="text-danger error-state">Practice Size is
                                                        required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>

                                    </div>

                                    <div class="d-flex gap-4 group-wrapper mt-12 ">
                                        <div class="input-group">
                                            <label for="fname">Role At Practice</label>
                                            <select class="form-select input-style" aria-label="Default select example"
                                                formControlName="roleAtPractice">
                                                <option disabled selected>Role At Practice</option>
                                                <option *ngFor="let item of roleAtPractice" [value]="item.value">{{
                                                    item.value }}</option>
                                            </select>

                                            <ng-container
                                                *ngIf="practiceInformationForm.get('roleAtPractice')?.invalid && (practiceInformationForm.get('roleAtPractice')?.dirty || practiceInformationForm.get('roleAtPractice')?.touched)">
                                                <ng-container
                                                    *ngIf="practiceInformationForm.get('roleAtPractice')?.errors">
                                                    <span class="text-danger error-state">Role At Practice is
                                                        required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>
                                        <div class="input-group">
                                            <label for="fname">ZIP Code</label>
                                            <select class="form-select input-style" aria-label="Default select example"
                                                formControlName="zipCode">
                                                <option disabled selected>ZIP Code</option>
                                                <option *ngFor="let item of zipCodesLov" [value]="item.value">{{
                                                    item.value }}</option>
                                            </select>

                                            <ng-container
                                                *ngIf="practiceInformationForm.get('zipCode')?.invalid && (practiceInformationForm.get('zipCode')?.dirty || practiceInformationForm.get('zipCode')?.touched)">
                                                <ng-container *ngIf="practiceInformationForm.get('zipCode')?.errors">
                                                    <span class="text-danger error-state">ZIP Code is required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>
                                        <div class="input-group">
                                            <label for="fname"> City</label>
                                            <select class="form-select input-style" aria-label="Default select example"
                                                formControlName="city">
                                                <option disabled selected>Practice City</option>
                                                <option *ngFor="let item of cityLov" [value]="item.value">{{ item.value
                                                    }}</option>
                                            </select>
                                            <ng-container
                                                *ngIf="practiceInformationForm.get('city')?.invalid && (practiceInformationForm.get('city')?.dirty || practiceInformationForm.get('city')?.touched)">
                                                <ng-container *ngIf="practiceInformationForm.get('city')?.errors">
                                                    <span class="text-danger error-state">Practice City is
                                                        required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>
                                    </div>

                                    <div class="d-flex gap-4 group-wrapper mt-12">
                                        <div class="input-group">
                                            <label for="fname">Address Line 1</label>
                                            <input type="text" placeholder="Enter Address Line 1"
                                                formControlName="billingAddress" class="border"
                                                name="new-billingAddress" autocomplete="off" aria-autocomplete
                                                required />
                                            <ng-container
                                                *ngIf="practiceInformationForm.get('billingAddress')?.invalid && (practiceInformationForm.get('billingAddress')?.dirty || practiceInformationForm.get('billingAddress')?.touched)">
                                                <ng-container
                                                    *ngIf="practiceInformationForm.get('billingAddress')?.errors">
                                                    <span class="text-danger error-state">Address Line 1 is
                                                        required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>
                                        <div class="input-group">
                                            <label for="fname">Address Line 2</label>
                                            <input type="text" placeholder="Enter Address Line 2"
                                                formControlName="billingAddresstwo" class="border"
                                                name="new-billingAddresstwo" autocomplete="off" aria-autocomplete
                                                required />
                                            <ng-container
                                                *ngIf="practiceInformationForm.get('billingAddresstwo')?.invalid && (practiceInformationForm.get('billingAddresstwo')?.dirty || practiceInformationForm.get('billingAddresstwo')?.touched)">
                                                <ng-container
                                                    *ngIf="practiceInformationForm.get('billingAddresstwo')?.errors">
                                                    <span class="text-danger error-state">Address Line 2 is
                                                        required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </form>


                            <!-- <---------------------------------Qualification & Skills---------------------------->


                            <div class="text-content mt-32">
                                <h2 class="profile-header-text">Qualification & Skills</h2>

                            </div>
                            <hr>

                            <form [formGroup]="qualificationAndSkillsForm" autocomplete="disable">

                                <div class="form-wrapper">
                                    <div class="d-flex gap-4 group-wrapper ">

                                        <div class="input-group">
                                            <label for="speciality">Qualification</label>

                                            <select class="form-select input-style" aria-label="Default select example"
                                                formControlName="qualification">
                                                <option disabled selected>Select qualification</option>
                                                <option *ngFor="let item of qualificationLov" [value]="item.value">{{
                                                    item.value }}</option>
                                            </select>
                                            <ng-container
                                                *ngIf="qualificationAndSkillsForm.get('qualification')?.invalid && (qualificationAndSkillsForm.get('qualification')?.dirty || qualificationAndSkillsForm.get('qualification')?.touched)">
                                                <ng-container
                                                    *ngIf="qualificationAndSkillsForm.get('qualification')?.errors">
                                                    <span class="text-danger error-state">Qualification is
                                                        required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>

                                        <div class="input-group">
                                            <label for="fname">Main specialization</label>
                                            <select class="form-select input-style" aria-label="Default select example"
                                                formControlName="mainSpecialization">
                                                <option disabled selected>Main specialization</option>
                                                <option *ngFor="let item of mainSpecialityLov" [value]="item.value">
                                                    {{ item.value }}</option>
                                            </select>
                                            <ng-container
                                                *ngIf="qualificationAndSkillsForm.get('mainSpecialization')?.invalid && (qualificationAndSkillsForm.get('mainSpecialization')?.dirty || qualificationAndSkillsForm.get('mainSpecialization')?.touched)">
                                                <ng-container
                                                    *ngIf="qualificationAndSkillsForm.get('mainSpecialization')?.errors">
                                                    <span class="text-danger error-state">
                                                        Main specialization is required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>

                                        <div class="input-group">
                                            <label for="fname">Sub specialization</label>
                                            <select class="form-select input-style" aria-label="Default select example"
                                                formControlName="subSpecialization">
                                                <option disabled selected>Sub specialization</option>
                                                <option *ngFor="let item of subSpecialityLov" [value]="item.value">
                                                    {{ item.value }}</option>
                                            </select>
                                            <ng-container
                                                *ngIf="qualificationAndSkillsForm.get('subSpecialization')?.invalid && (qualificationAndSkillsForm.get('subSpecialization')?.dirty || qualificationAndSkillsForm.get('subSpecialization')?.touched)">
                                                <ng-container
                                                    *ngIf="qualificationAndSkillsForm.get('subSpecialization')?.errors">
                                                    <span class="text-danger error-state">Sub specialization is
                                                        required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>
                                    </div>

                                    <div class="d-flex gap-4 group-wrapper mt-12 ">
                                        <div class="input-group">
                                            <label for="fname">Licensed State</label>
                                            <select class="form-select input-style" aria-label="Default select example"
                                                formControlName="licienceState">
                                                <option disabled selected>Licensed State</option>
                                                <option *ngFor="let item of stateLov" [value]="item.value">{{
                                                    item.value }}</option>
                                            </select>
                                            <ng-container
                                                *ngIf="qualificationAndSkillsForm.get('licienceState')?.invalid && (qualificationAndSkillsForm.get('licienceState')?.dirty || qualificationAndSkillsForm.get('licienceState')?.touched)">
                                                <ng-container
                                                    *ngIf="qualificationAndSkillsForm.get('licienceState')?.errors">
                                                    <span class="text-danger error-state">Licensed State is
                                                        required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>

                                        <div class="input-group">
                                            <label for="fname">Experience (In years)</label>
                                            <input type="text" placeholder="Enter Experience (In years)"
                                                formControlName="overallExperience" class="border"
                                                name="new-overallExperience" autocomplete="off" aria-autocomplete
                                                required />
                                            <ng-container
                                                *ngIf="qualificationAndSkillsForm.get('overallExperience')?.invalid && (qualificationAndSkillsForm.get('overallExperience')?.dirty || qualificationAndSkillsForm.get('overallExperience')?.touched)">
                                                <ng-container
                                                    *ngIf="qualificationAndSkillsForm.get('overallExperience')?.errors">
                                                    <span class="text-danger error-state">Experience (In years) is
                                                        required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>

                                        <div class="input-group">
                                            <label for="fname">NPI Number</label>


                                            <input type="text" placeholder="Enter NPI number"
                                                formControlName="npiNumber" class="border" name="new-overallExperience"
                                                autocomplete="off" aria-autocomplete required />

                                            <ng-container
                                                *ngIf="qualificationAndSkillsForm.get('npiNumber')?.invalid && (qualificationAndSkillsForm.get('npiNumber')?.dirty || qualificationAndSkillsForm.get('npiNumber')?.touched)">
                                                <ng-container
                                                    *ngIf="qualificationAndSkillsForm.get('npiNumber')?.errors">
                                                    <span class="text-danger error-state">NPI Number is required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="d-flex gap-4 group-wrapper mt-12 justify-content-end">
                            <button type="button" class="btn btn-submit btn-width w-20-p"
                                (click)="submitProviderForm()">Save Profile Information</button>
                        </div>
                    </div>
                    <!-- <div class=""> -->
                    <!-- <button type="button" class="btn bg-primary-light text-light hover-none text-size-normal"
                            (click)="submitProviderForm()">
                            Save Profile Information</button> -->
                    <!-- </div> -->
                </ng-container>

            </div>
        </div>
    </div>
    <!-- </div>
    </div> -->
</section>