<!-- <---------------------------------Personal Information---------------------------->
<div class="mx-3 shadow-sm my-4">
    <form [formGroup]="personalInformationForm">
        <div class="tab-content card-shadow" id="v-tabsContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <div class="blue-bar py-2">
                    <h6 class="text-center profile-header-text">Personal Information</h6>
                </div>
                <div class="px-3 py-3">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold text-black text-size-normal mb-0">First Name</p>
                            <input formControlName="firstName" type="text" class="form-control placeholder-text "
                                placeholder="First Name" id="exampleFormControlInput1">
                        </div>
                        <div class="col-md-6">
                            <p class=" fw-bold text-black text-size-normal mb-0">Last Name</p>
                            <input formControlName="lastName" type="text" class="form-control placeholder-text "
                                placeholder="Last Name" id="exampleFormControlInput1">
                        </div>
                    </div>
                    <p class="mt-2 fw-bold text-black text-size-normal mb-0">
                        Gender
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <select formControlName="gender" class="form-select text-size-normal"
                                id="inputGroupSelect01">
                                <option selected class="text-size-normal">Select Gender</option>
                                <option class="text-size-normal" *ngFor="let opt of genderLov" [value]="opt.value">
                                    {{opt.value}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <p class="mt-2 fw-bold text-black text-size-normal mb-0">
                        Email
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <input formControlName="email" type="text" class="form-control placeholder-text "
                                placeholder="Email" id="exampleFormControlInput1">
                        </div>
                    </div>
                    <p class="mt-2 fw-bold text-black text-size-normal mb-0">
                        Phone Number
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <input formControlName="contactNumber" type="text" class="form-control placeholder-text "
                                placeholder="34567890-0987" id="exampleFormControlInput1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- <---------------------------------Practice Information---------------------------->
<div class="mx-3 shadow-sm my-4">
    <form [formGroup]="practiceInformationForm">
        <div class="tab-content card-shadow" id="v-tabsContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <div class="blue-bar py-2">
                    <h6 class="text-center profile-header-text">Practice Information</h6>
                </div>
                <div class="px-3 py-3">
                    <p class="mt-2 fw-bold text-black text-size-normal mb-0">
                        Practice Name
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <input formControlName="practiceName" type="text" class="form-control placeholder-text "
                                placeholder="Practice Name" id="exampleFormControlInput1">
                        </div>
                    </div>
                    <label class="fw-bold text-black text-size-normal mt-2 ">Practice or provider’s speciality</label>
                    <select formControlName="providersSpeciality" class="form-select text-size-normal"
                        id="inputGroupSelect01">
                        <option selected class="text-size-normal">Select Main Speciality</option>
                        <option class="text-size-normal" *ngFor="let opt of mainSpecialityLov" [value]="opt.value">
                            {{opt.value}}
                        </option>
                    </select>

                    <label class="fw-bold text-black text-size-normal mt-2">Practice Size</label>
                    <select formControlName="practiceSize" class="form-select text-size-normal" id="inputGroupSelect01">
                        <option selected class="text-size-normal">Select Practice Size</option>
                        <option class="text-size-normal" *ngFor="let opt of practiceSize" [value]="opt.value">
                            {{opt.value}}
                        </option>
                    </select>

                    <label class="fw-bold text-black text-size-normal mt-2">Role At Practice</label>
                    <select formControlName="roleAtPractice" class="form-select text-size-normal"
                        id="inputGroupSelect01">
                        <option selected class="text-size-normal">Select Role At Practice</option>
                        <option class="text-size-normal" *ngFor="let opt of roleAtPractice" [value]="opt.value">
                            {{opt.value}}
                        </option>
                    </select>

                    <p class="mt-2 fw-bold text-black text-size-normal mb-0">
                        Billing Address line 1
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <input formControlName="billingAddress" type="text" class="form-control placeholder-text "
                                placeholder="Billing Address" id="exampleFormControlInput1">
                        </div>
                    </div>

                    <p class="mt-2 fw-bold text-black text-size-normal mb-0">
                        Billing Address line 2
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <input formControlName="billingAddresstwo" type="text"
                                class="form-control placeholder-text " placeholder="Billing Address"
                                id="exampleFormControlInput1">
                        </div>
                    </div>

                    <p class="mt-2 fw-bold text-black text-size-normal mb-0">
                        ZIP Code
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <input formControlName="zipCode" type="text" class="form-control placeholder-text "
                                placeholder="Practice Name" minlength="5" maxlength="5" id="exampleFormControlInput1">
                        </div>
                    </div>

                    <label class="fw-bold text-black text-size-normal mt-2">City</label>
                    <select formControlName="city" class="form-select text-size-normal" id="inputGroupSelect01">
                        <option selected class="text-size-normal">Select City</option>
                        <option class="text-size-normal" *ngFor="let opt of cityLov" [value]="opt.value">
                            {{opt.value}}
                        </option>
                    </select>
                    <!-- <ng-select formControlName="city" class="form-select  text-size-normal"
                        [clearable]="false" [searchable]="true" [placeholder]="'Select City'">
                        <ng-option *ngFor="let item of cityLov" [value]="item.value">{{item.value}}</ng-option>
                    </ng-select> -->
                </div>
            </div>
        </div>
    </form>
</div>
<!-- <---------------------------------Qualification & Skills---------------------------->
<div class="mx-3 shadow-sm my-4">
    <form [formGroup]="qualificationAndSkillsForm">
        <div class="tab-content card-shadow" id="v-tabsContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <div class="blue-bar py-2">
                    <h6 class="text-center profile-header-text">Qualification & Skills</h6>
                </div>
                <div class="px-3 py-3">
                    <p class="mt-2 fw-bold text-black text-size-normal mb-0">
                        Qualification
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <input formControlName="qualification" type="text" class="form-control placeholder-text "
                                placeholder="Dermatologist" id="exampleFormControlInput1">
                        </div>
                    </div>

                    <p class="mt-2 fw-bold text-black text-size-normal mb-0">
                        Main Speciality
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <select formControlName="mainSpecialization" class="form-select text-size-normal"
                                id="inputGroupSelect01">
                                <option selected class="text-size-normal">Select Main Speciality
                                </option>
                                <option class="text-size-normal" *ngFor="let opt of mainSpecialityLov"
                                    [value]="opt.value">
                                    {{opt.value}}
                                </option>
                            </select>

                        </div>

                    </div>

                    <p class="mt-2 fw-bold text-black text-size-normal mb-0">Sub Speciality</p>
                    <div class="row">
                        <div class="col-md-12">
                            <select formControlName="subSpecialization" class="form-select text-size-normal"
                                id="inputGroupSelect01">
                                <option selected class="text-size-normal">Select Sub Speciality</option>
                                <option class="text-size-normal" *ngFor="let opt of subSpecialityLov"
                                    [value]="opt.value">
                                    {{opt.value}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <p class="mt-2 fw-bold text-black text-size-normal mb-0">Licienced State</p>
                    <div class="row">
                        <div class="col-md-12">
                            <select formControlName="licienceState" class="form-select text-size-normal"
                                id="inputGroupSelect01">
                                <option selected class="text-size-normal">Select State</option>
                                <option class="text-size-normal" *ngFor="let opt of cityLov" [value]="opt.value">
                                    {{opt.value}}
                                </option>
                            </select>
                            <!-- <ng-select formControlName="licienceState" class="form-select form-control text-size-normal"
                                [clearable]="false" [searchable]="true" [placeholder]="'Select licience State'">
                                <ng-option *ngFor="let item of stateLov" [value]="item.value">{{item.value}}</ng-option>
                            </ng-select> -->
                        </div>
                    </div>

                    <p class="mt-2 fw-bold text-black text-size-normal mb-0">
                        Experience (In years)
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <input formControlName="overallExperience" type="text"
                                class="form-control placeholder-text " placeholder="Experience"
                                id="exampleFormControlInput1">

                        </div>

                    </div>
                    <p class="mt-2 fw-bold text-black text-size-normal mb-0">
                        NPI Number
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <input formControlName="npiNumber" type="text" class="form-control placeholder-text "
                                placeholder="NPI Number" id="exampleFormControlInput1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row mx-1">
    <button type="button" class="btn bg-primary-light text-light hover-none text-size-normal"
        (click)="submitProviderForm()">
        Save Profile Information</button>
</div>