<section class="mb-64 mt-64">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="ft_card d-flex flex-column">
                    <h2 class="section-title">Testimonials</h2>
                    <h3 class="title">What Our Users Say</h3>
                    <p class="para">Real stories from real people who've experienced the Curis difference. See how we're
                        changing healthcare access for the uninsured and under-insured. Don't just take our word for it
                        – here's what our users have to say:</p>

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="ft_card d-flex flex-column justify-content-center align-items-center">

                    <p class="cust-comment text-center">"Curis has been a game-changer for me. As someone without
                        insurance, I always feared
                        medical bills. Now, I can see exactly what I'll pay before booking an appointment. It's given me
                        peace of mind and access to care I would have otherwise avoided."</p>

                    <p class="cust-name">Sarah T. | <span class="cust-type">Freelance Designer</span></p>


                    <div class="d-flex w-36-p justify-content-evenly">
                        <button class="btn-icon"><i class="bi bi-arrow-left-short  icon-sty"></i></button>
                        <button class="btn-icon"><i class="bi bi-arrow-right-short icon-sty"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>