<app-header></app-header>
<section class="pb-20 mt-64">
    <div class="container">
        <div class="container d-flex flex-column">
            <h1 class="h2-f-t text-capitalize"> About CurisNow Inc. </h1>

        </div>
        <div class="mt-100  mb-36">
            <div class="photos-grid w-100-p">
                <div class="card     content-area border-0">
                    <p class="paragraph-2">
                        CurisNow Inc. was established with a singular mission: to redefine the way healthcare is
                        accessed and paid for in the United States. As healthcare costs continue to rise, with
                        projections indicating that spending will reach $6.0 trillion by 2027, many Americans are left
                        struggling with high out-of-pocket expenses and a complex, opaque payment system. At CurisNow,
                        we believe that quality healthcare should be both accessible and affordable for everyone,
                        regardless of insurance status.
                    </p>

                    <h2 class="h2-f-t-2 mt-40">For Patients</h2>
                    <p class="paragraph-2">Our platform is designed to empower patients by providing them with a
                        transparent and user-friendly marketplace. Through CurisNow, patients can easily search for,
                        compare, and book appointments with healthcare providers across various specialties, all based
                        on clear, upfront pricing. Whether you’re seeking a routine check-up, dental care, or physical
                        therapy, CurisNow connects you with providers who offer the services you need at prices you can
                        afford. We cater especially to the uninsured and underinsured, a demographic that often faces
                        the highest financial barriers to care.
                    </p>

                    <h2 class="h2-f-t-2 mt-40">For Providers</h2>
                    <p class="paragraph-2">For healthcare providers, CurisNow offers a unique opportunity to reach a
                        broader patient base, particularly those who are proactive about managing their health and
                        seeking cost-effective care. Our platform allows providers to focus on what they do
                        best—delivering high-quality healthcare—while CurisNow takes care of the rest, including
                        ensuring prompt payments and facilitating patient appointments. By reducing administrative
                        burdens and promoting price transparency, we help providers grow their practices and improve
                        patient satisfaction.</p>


                    <h2 class="h2-f-t-2 mt-40">Our Goal</h2>
                    <p class="paragraph-2">
                        CurisNow does not manage or store patient health data, ensuring that the relationship between
                        patients and providers remains direct and secure. Our goal is to create an open market that
                        encourages competition, reduces costs, and enhances the overall patient experience.


                    </p>
                    <p class="mt-32">At CurisNow Inc., we are not just another healthcare platform—we are a catalyst for
                        change in the
                        healthcare industry. By breaking down the barriers to care, we are making quality healthcare
                        more accessible, more affordable, and more transparent for everyone.</p>

                </div>

            </div>
        </div>
    </div>
</section>



<app-links></app-links>


<app-footer></app-footer>