<div class=" d-flex justify-content-center align-items-center h-100-p">
    <div class="login-box div-width">
        <h1 class="mb-12 title">Log in</h1>
        <p class="mb-32 description">Welcome! Please enter your details.</p>
        <form [formGroup]="loginFormGroup" autocomplete="off">
            <div class="mb-20">
                <label for="email" class="form-label">Email</label>
                <input type="text" formControlName="email" class="form-control placeholder-text "
                    placeholder="example@example.com">
            </div>
            <div class="mb-24">
                <label for="password" class="form-label">Password</label>
                <div class="password-field">
                    <input [type]="isShowPassword ? 'text':'password'" formControlName="password"
                        class="form-control placeholder-text " placeholder="********">
                    <img *ngIf="isShowPassword" (click)="showPassword()" [src]="imgSrc" alt="Toggle Password Visibility"
                        style="cursor: pointer;" />
                    <img *ngIf="!isShowPassword" (click)="showPassword()" [src]="imgSrc"
                        alt="Toggle Password Visibility" style="cursor: pointer;" />
                </div>
            </div>
            <div class="d-flex justify-content-between mb-24 align-items-center flex-wrap">
                <div class=" form-check d-flex align-items-center ">
                    <input type="checkbox" class="form-check-input" id="remember"  formControlName="remember">
                    <label class="form-check-label remember">Remember me</label>
                </div>
                <div class="">
                    <a class="text-muted" (click)="navToForgotPass()">Forgot password</a>
                </div>
            </div>
            <div class="d-flex gap-4 group-wrapper mt-12 ">
                <button type="button" class="btn btn-submit btn-width" (click)="loginUser()">Sign in</button>
            </div>
        </form>
    </div>
</div>