.booking_row {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0px;
}

.col-1,
.col-2 {
    width: 100%;
}




.col-2 {
    background-color: #F9FAFB;

}

.default-screen-img {
    // width: 720px;
    height: 960px;

}


@media (max-width: 768px) {

    .booking_row {
        // display: grid;
        grid-template-columns: 100% !important;
        // gap: 0px;
    }
    .col-1{
        padding: 56px 0px
    }
}