<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header justify-content-between">
            <h1 class="modal-title">{{title}}</h1>
            <i class="bi bi-x-lg close-icon" type="button" (click)="bsModalRef.hide()"></i>
        </div>
        <div class="modal-body contact_modal">
            <div class="">
                <div class="w-100-p">
                    <div class="d-flex justify-content-center form-width flex-column">
                        <form [formGroup]="appointmentForm" autocomplete="disable">
                            <div class="text-content mt-32">
                                <h2 class="profile-header-text">Patient Information
                                </h2>
                                <hr>

                            </div>
                            <div class="form-wrapper">
                                <div class="d-flex gap-4 group-wrapper ">
                                    <div class="input-group">
                                        <label for="fname">First Name </label>

                                        <input type="text" placeholder="First Name" class="border disable-field"
                                            formControlName="f_name" autocomplete="off" aria-autocomplete required
                                            [readonly]="true" name="new-f_name" />
                                        <ng-container
                                            *ngIf="appointmentForm.get('f_name')?.invalid && (appointmentForm.get('f_name')?.dirty || appointmentForm.get('f_name')?.touched)">
                                            <ng-container *ngIf="appointmentForm.get('f_name')?.errors">
                                                <span class="text-danger error-state">
                                                    First Name is Required</span>
                                            </ng-container>

                                        </ng-container>
                                    </div>
                                    <div class="input-group">
                                        <label for="fname">Last Name </label>

                                        <input type="text" placeholder="Last Name" class="border disable-field"
                                            formControlName="l_name" autocomplete="off" aria-autocomplete required
                                            [readonly]="true" name="new-l_name" />
                                        <ng-container
                                            *ngIf="appointmentForm.get('l_name')?.invalid && (appointmentForm.get('l_name')?.dirty || appointmentForm.get('l_name')?.touched)">
                                            <ng-container *ngIf="appointmentForm.get('l_name')?.errors">
                                                <span class="text-danger error-state">
                                                    Last Name is required</span>
                                            </ng-container>

                                        </ng-container>
                                    </div>

                                </div>

                                <div class="d-flex gap-4 group-wrapper mt-12 ">

                                    <div class="input-group">
                                        <label for="fname">Email</label>
                                        <input type="text" placeholder="Enter Your Email" class="border disable-field"
                                            [readonly]="true" formControlName="email" autocomplete="off"
                                            aria-autocomplete required name="new-email" />

                                        <ng-container
                                            *ngIf="appointmentForm.get('email')?.invalid && (appointmentForm.get('email')?.dirty || appointmentForm.get('email')?.touched)">
                                            <ng-container *ngIf="appointmentForm.get('email')?.errors">
                                                <span class="text-danger error-state">
                                                    Email is required</span>
                                            </ng-container>
                                        </ng-container>
                                    </div>

                                    <div class="input-group">
                                        <label for="fname">Gender</label>
                                        <input type="text" placeholder="Gender" class="border disable-field"
                                            [readonly]="true" formControlName="gender" autocomplete="off"
                                            aria-autocomplete required name="new-gender" />

                                        <ng-container
                                            *ngIf="appointmentForm.get('gender')?.invalid && (appointmentForm.get('gender')?.dirty || appointmentForm.get('gender')?.touched)">
                                            <ng-container *ngIf="appointmentForm.get('gender')?.errors">
                                                <span class="text-danger error-state">Gender is
                                                    required</span>
                                            </ng-container>

                                        </ng-container>
                                    </div>
                                </div>

                                <div class="d-flex gap-4 group-wrapper mt-12 ">
                                    <div class="input-group">
                                        <label for="fname">Patient notes </label>
                                        <textarea formControlName="patientNotes" placeholder="Write text here ..."
                                            class="border disable-field" autocomplete="off" aria-autocomplete required
                                            [readonly]="true" name="new-notes" rows="4"></textarea>
                                        <ng-container
                                            *ngIf="appointmentForm.get('patientNotes')?.invalid && (appointmentForm.get('patientNotes')?.dirty || appointmentForm.get('patientNotes')?.touched)">
                                            <ng-container *ngIf="appointmentForm.get('patientNotes')?.errors">
                                                <span class="text-danger error-state" style="top: 148px;">
                                                    Patient notes is required</span>
                                            </ng-container>

                                        </ng-container>

                                    </div>
                                </div>

                            </div>
                            <div class="text-content mt-32">
                                <h2 class="profile-header-text">Patient Enquire

                                </h2>
                                <hr>

                            </div>
                            <div class="form-wrapper">
                                <div class="d-flex gap-4 group-wrapper mt-12 ">
                                    <div class="input-group">
                                        <label for="fname">Medical Report </label>
                                        <textarea formControlName="m_reports" placeholder="Write text here ..."
                                            class="border " autocomplete="off" aria-autocomplete required
                                            name="new-notes" rows="4"></textarea>
                                        <ng-container
                                            *ngIf="appointmentForm.get('m_reports')?.invalid && (appointmentForm.get('m_reports')?.dirty || appointmentForm.get('m_reports')?.touched)">
                                            <ng-container *ngIf="appointmentForm.get('m_reports')?.errors">
                                                <span class="text-danger error-state" style="top: 148px;">
                                                    Medical Report is required</span>
                                            </ng-container>

                                        </ng-container>

                                    </div>
                                </div>

                                <div class="d-flex gap-4 group-wrapper mt-12 ">
                                    <div class="input-group">
                                        <label for="fname">Investigation Ordered </label>
                                        <textarea formControlName="investigation_ordered"
                                            placeholder="Write text here ..." class="border " autocomplete="off"
                                            aria-autocomplete required name="new-notes" rows="4"></textarea>
                                        <ng-container
                                            *ngIf="appointmentForm.get('investigation_ordered')?.invalid && (appointmentForm.get('investigation_ordered')?.dirty || appointmentForm.get('investigation_ordered')?.touched)">
                                            <ng-container *ngIf="appointmentForm.get('investigation_ordered')?.errors">
                                                <span class="text-danger error-state" style="top: 148px;">
                                                    Investigation Ordered is required</span>
                                            </ng-container>

                                        </ng-container>

                                    </div>
                                </div>

                                <div class="d-flex gap-4 group-wrapper mt-12 ">
                                    <div class="input-group">
                                        <label for="fname">Prescription </label>
                                        <textarea formControlName="prescription" placeholder="Write text here ..."
                                            class="border " autocomplete="off" aria-autocomplete required
                                            name="new-notes" rows="4"></textarea>
                                        <ng-container
                                            *ngIf="appointmentForm.get('prescription')?.invalid && (appointmentForm.get('prescription')?.dirty || appointmentForm.get('prescription')?.touched)">
                                            <ng-container *ngIf="appointmentForm.get('prescription')?.errors">
                                                <span class="text-danger error-state" style="top: 148px;">
                                                    Prescription is required</span>
                                            </ng-container>

                                        </ng-container>

                                    </div>
                                </div>

                                <div class="form-container  mt-12">
                                    <div class=" d-flex g-16 mt-10">
                                        <button class="form-cancel-btn " (click)="bsModalRef.hide()">Cancel </button>
                                        <button class="form-submit-btn"
                                            [ngClass]="!appointmentForm.valid ? 'btn-disabled': '' "
                                            [disabled]="!appointmentForm.valid" (click)="submitForm() ">
                                            Save Interaction
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>