<div class="dialogbox ">
    <label class="dialoglabel">
        {{title}}
    </label>

    <!-- <mat-icon (click)="closeModal() " class="dialogIcon">close</mat-icon> -->
</div>

<div class="modal-body" style="padding: 4% !important;">
    <form [formGroup]="locationFormGroup">
        <div class="row align-items-start">
            <div class="col-md-6">
                <label class="form-check-label text-size-normal" for="flexCheckDefault">
                    Location Name
                </label>
                <input formControlName="locationName" type="text" class="form-control form-field form-field"
                    placeholder="Name of Location" id="locationName">
                <div *ngIf="locationFormGroup.get('locationName')?.hasError('required') && locationFormGroup.get('locationName')?.touched"
                    class="text-danger error-state error-state">
                    Location Name is required.
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <span class="text-size-normal text-dark"><strong></strong>Address Line 1</span>
                    <input type="text" formControlName="locationAddressLineOne" class="form-control form-field"
                        id="locationAddressLineOne" placeholder="Address Line 1">
                    <div *ngIf="locationFormGroup.get('locationAddressLineOne')?.hasError('required') && locationFormGroup.get('locationAddressLineOne')?.touched"
                        class="text-danger error-state">
                        Address Line 1 is required.
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <span class="text-size-normal text-dark"><strong></strong>Address Line 2</span>
                    <input type="text" formControlName="locationAddressLineTwo" class="form-control form-field"
                        id="locationAddressLineTwo" placeholder="Address Line 1">
                    <!-- <div *ngIf="locationFormGroup.get('locationAddressLineTwo')?.hasError('required') && locationFormGroup.get('locationAddressLineTwo')?.touched"
                        class="text-danger error-state">
                        Address Line 2 is required.
                    </div> -->

                </div>
            </div>
            <div class="col-md-6 mt-4">
                <span class="text-size-normal text-dark">City</span>
                <select formControlName="city" class="form-select form-control text-size-normal"
                    id="inputGroupSelect01">
                    <option value="">Service Name</option>
                    <option class="text-size-normal" *ngFor="let opt of cityLov" [value]="opt.value">
                        {{opt.value}}
                    </option>
                </select>
                <!-- <ng-select formControlName="city" class="form-select text-size-normal" [clearable]="false"
                    [searchable]="true" [placeholder]="'Select City'">
                    <ng-option *ngFor="let item of cityLov" [value]="item.value">{{item.value}}</ng-option>
                </ng-select> -->
                <div *ngIf="locationFormGroup.get('city')?.hasError('required') && locationFormGroup.get('city')?.touched"
                    class="text-danger error-state">
                    City is required.
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <label class="form-check-label text-size-normal" for="flexCheckDefault">
                    Zip
                </label>
                <input formControlName="zipCode" type="text" class="form-control form-field "
                    placeholder="Name of Location" id="exampleFormControlInput1">
                <!-- <ng-select #locationSelect class="custom-ng-select width-border form-field" [clearable]="false"
                    [searchable]="true" placeholder="Select Zip Code" formControlName="zipCode">
                    <ng-option *ngFor="let item of zipCodesLov" [value]="item.value">{{item.value}}</ng-option>
                </ng-select> -->
                <div *ngIf="locationFormGroup.get('zipCode')?.hasError('required') && locationFormGroup.get('zipCode')?.touched"
                    class="text-danger error-state">
                    zipCode is required.
                </div>
            </div>


        </div>
        <div class="row align-items-start mt-4">

            <div class="col-md-12">
                <label for="exampleFormControlInput1" class="form-label text-size-normal">Description
                </label>
                <textarea formControlName="locationDescription" class="form-control form-field"
                    placeholder="Text here" id="exampleFormControlTextarea1" rows="4"></textarea>
                <div *ngIf="locationFormGroup.get('locationDescription')?.hasError('required') && locationFormGroup.get('locationDescription')?.touched"
                    class="text-danger error-state">
                     is required.
                </div>
            </div>
        </div>

        <div class="col-md-6 mt-4">
            <label class="form-check-label text-size-normal" for="flexCheckDefault">
                Active Status
            </label>
            <div class="form-check">
                <input formControlName="activeStatus" class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault">
            </div>
        </div>
    </form>
</div>



<div class="modal-footer">
    <button type="button" class="btn btn-dark text-size-normal" (click)="closeModal()">Close</button>
    <button *ngIf="isEditMode" type="button" class="btn bg-primary-light text-light text-size-normal"
        (click)="updateLocationInformation()" [disabled]="locationFormGroup.invalid">Save</button>
    <button *ngIf="!isEditMode" type="button" class="btn bg-primary-light text-light text-size-normal"
        (click)="saveLocationInformationData()" [disabled]="locationFormGroup.invalid">Save</button>
</div>