<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header justify-content-between">
            <h1 class="modal-title">{{title}}</h1>
            <i class="bi bi-x-lg close-icon" type="button" (click)="bsModalRef.hide()"></i>
        </div>
        <div class="modal-body contact_modal">
            <div class="">
                <div class="w-100-p">
                    <div class="d-flex justify-content-center form-width flex-column">
                        <form [formGroup]="appointmentForm" autocomplete="disable">
                            <div class="text-content mt-32">
                                <h2 class="profile-header-text">Patient Information
                                </h2>
                                <hr>

                            </div>
                            <div class="form-wrapper">
                                <div class="d-flex gap-4 group-wrapper ">
                                    <div class="input-group">
                                        <label for="fname">First Name </label>

                                        <input type="text" placeholder="First Name" class="border disable-field"
                                            formControlName="f_name" autocomplete="off" aria-autocomplete required
                                            [readonly]="true" name="new-f_name" />

                                    </div>
                                    <div class="input-group">
                                        <label for="fname">Last Name </label>

                                        <input type="text" placeholder="Last Name" class="border disable-field"
                                            formControlName="l_name" autocomplete="off" aria-autocomplete required
                                            [readonly]="true" name="new-l_name" />

                                    </div>

                                </div>

                                <div class="d-flex gap-4 group-wrapper mt-12 ">



                                    <div class="input-group">
                                        <label for="fname">Gender</label>
                                        <input type="text" placeholder="Gender" class="border disable-field"
                                            [readonly]="true" formControlName="gender" autocomplete="off"
                                            aria-autocomplete required name="new-gender" />


                                    </div>

                                    <div class="input-group">
                                        <label for="fname">Email</label>
                                        <input type="text" placeholder="Enter Your Email" class="border disable-field"
                                            [readonly]="true" formControlName="email" autocomplete="off"
                                            aria-autocomplete required name="new-email" />
                                    </div>
                                </div>
                                <div class="text-content mt-32">
                                    <h2 class="profile-header-text">Provider Information
                                    </h2>
                                    <hr>

                                </div>

                                <div class="d-flex gap-4 group-wrapper mt-12 ">
                                    <div class="input-group">
                                        <label for="fname">Practice Name </label>
                                        <input type="text" placeholder="Enter Practice Name"
                                            class="border disable-field" [readonly]="true"
                                            formControlName="practiceName" autocomplete="off" aria-autocomplete required
                                            name="new-practiceName" />
                                    </div>

                                    <div class="input-group">
                                        <label for="fname">ZipCode </label>
                                        <input type="text" placeholder="Enter Zip Code" class="border disable-field"
                                            [readonly]="true" formControlName="zipcode" autocomplete="off"
                                            aria-autocomplete required name="new-zipcode" />


                                    </div>
                                </div>
                                <div class="d-flex gap-4 group-wrapper mt-12 ">
                                    <div class="input-group">
                                        <label for="fname">Main Specialty </label>
                                        <input type="text" placeholder="Enter Main Specialty"
                                            class="border disable-field" [readonly]="true"
                                            formControlName="mainSpeciality" autocomplete="off" aria-autocomplete
                                            required name="new-mainSpeciality" />
                                    </div>

                                    <div class="input-group">
                                        <label for="fname">City </label>
                                        <input type="text" placeholder="Enter City" class="border disable-field"
                                            [readonly]="true" formControlName="city" autocomplete="off"
                                            aria-autocomplete required name="new-city" />
                                    </div>
                                </div>

                            </div>
                            <div class="text-content mt-32">
                                <h2 class="profile-header-text">Timing Slots </h2>
                                <hr>

                            </div>
                            <div class="form-wrapper">
                                <div class="d-flex gap-4 group-wrapper mt-12 ">
                                    <div class="input-group">
                                        <label for="fname">Start Date and Time </label>
                                        <input type="text" placeholder="Enter Start Date and Time"
                                            class="border disable-field" [readonly]="true" formControlName="startTime"
                                            autocomplete="off" aria-autocomplete required name="new-startTime" />
                                      

                                    </div>


                                    <div class="input-group">
                                        <label for="fname">End Date and Time </label>
                                        <input type="text" placeholder="Enter End Date and Time"
                                            class="border disable-field" [readonly]="true" formControlName="endTime"
                                            autocomplete="off" aria-autocomplete required name="new-endTime" />


                                    </div>
                                </div>

                            </div>
                           
                            <div class="form-container  mt-12">
                                <div class=" d-flex g-16 mt-10">
                                    <button class="form-submit-btn " (click)="bsModalRef.hide()">Close </button>
                                    <!-- <button class="form-submit-btn"
                                        [ngClass]="!appointmentForm.valid ? 'btn-disabled': '' "
                                        [disabled]="!appointmentForm.valid" (click)="submitForm() ">
                                        Save Interaction
                                    </button> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>