<section class="pb-64 pt-64">
    <div class="container">
        <div class="row justify-content-start mb-64">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="ft_card d-flex flex-column">
                    <h2 class="section-title">Getting started</h2>
                    <h3 class="title">How Curis Works</h3>
                    <p class="para">Curis simplifies the process of finding affordable healthcare for uninsured and
                        under-insured individuals. Here's how our marketplace connects patients with healthcare
                        providers on a pay-for-service basis:</p>

                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="row align-items-end justify-content-between">
                    <div class="col-12 col-md-12 col-lg-7 col-xl-7">
                        <figure class="photo">
                            <div class="d-flex flex-column g-36">
                                <div class="d-flex gap-20">
                                    <div class="btn-icon">
                                        <span class="icon-sty">1</span>
                                    </div>
                                    <div class="d-flex   flex-column mb-3">
                                        <h3 class="intro">Select affordable providers</h3>
                                        <p class="intro-para">Compare healthcare providers based on their out-of-pocket costs.
                                            Find quality
                                            care that fits your budget without insurance complications.</p>
                                    </div>
                                </div>
                                <div class="d-flex gap-20">
                                    <div class="btn-icon">
                                        <span class="icon-sty">2</span>
                                    </div>
                                    <div class="d-flex   flex-column mb-3">
                                        <h3 class="intro">Book and pay with ease</h3>
                                        <p class="intro-para">Schedule your appointments and make payments entirely online.
                                            Enjoy a seamless, paperless process from selection to consultation.</p>
                                    </div>
                                </div>
                                <div class="d-flex gap-20">
                                    <div class="btn-icon">
                                        <span class="icon-sty">3</span>
                                    </div>
                                    <div class="d-flex   flex-column mb-3">
                                        <h3 class="intro">Access your health data securely</h3>
                                        <p class="intro-para">Your medical information is stored on a secure cloud platform.
                                            Easily access and share your health records whenever you need them.</p>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="col-12 col-md-12 col-lg-5 col-xl-5">
                        <figure class="photo">
                            <img src="../../../../assets/images/home/how-work.png" alt="Couple" loading="lazy"
                                width="100%" height="100%" />
                        </figure>
                    </div>

                </div>
                <div class="">

                </div>
            </div>
        </div>
    </div>
</section>