<div class=" d-flex justify-content-center align-items-center h-100-p">
    <div class="login-box div-width">
        <h1 class="mb-12 title">Change Your Password
        </h1>
        <p class="mb-32 description">Please create a new password.</p>
        <form [formGroup]="passwordFormGroup" autocomplete="off">
            <div class="mb-20">
                <label for="password" class="form-label">Password</label>
                <div class="password-field">
                    <input [type]="isShowPassword ? 'text':'password'" formControlName="password"
                        class="form-control placeholder-text " placeholder="********">
                    <img *ngIf="isShowPassword" (click)="showPassword()" [src]="imgSrc" alt="Toggle Password Visibility"
                        style="cursor: pointer;" />
                    <img *ngIf="!isShowPassword" (click)="showPassword()" [src]="imgSrc"
                        alt="Toggle Password Visibility" style="cursor: pointer;" />
                </div>
            </div>
            <div class="mb-24">
                <label for="password" class="form-label">Confirm Password</label>
                <div class="password-field">
                    <input [type]="isShowConfirmPassword ? 'text':'password'" formControlName="confirm_password"
                        class="form-control placeholder-text " placeholder="********">
                    <img *ngIf="isShowConfirmPassword" (click)="showConfirmPassword()" [src]="imgSrc1"
                        alt="Toggle Password Visibility" style="cursor: pointer;" />
                    <img *ngIf="!isShowConfirmPassword" (click)="showConfirmPassword()" [src]="imgSrc1"
                        alt="Toggle Password Visibility" style="cursor: pointer;" />
                </div>
            </div>
            
            <div class="d-flex gap-4 group-wrapper mt-12 ">
                <button type="button" class="btn btn-submit btn-width" (click)="changePassword()">Change Password</button>
            </div>
        </form>
    </div>
</div>