<section class="">
    <div class="container-fluid">

        <div class="stepper-card-container">
            <div class="stepper-card">
                <ng-container>
                    <div class="w-100-p">
                        <div class="d-flex justify-content-center form-width flex-column">
                            <div class="text-content">
                                <h1 class="title">Appointments</h1>
                                <p class="lead paragraph-desc">
                                </p>
                            </div>

                            <div class="page-header-section mt-28">
                                <div class="input-field">
                                    <input type="text" class=" placeholder-text " placeholder="Search for Appointments">
                                    <i class="bi bi-search" style="cursor: pointer;"></i>

                                    <!-- <img [src]="imgSrc1" alt="Toggle Password Visibility" style="cursor: pointer;" /> -->
                                    <!-- <img [src]="imgSrc1" alt="Toggle Password Visibility" class="img2" style="cursor: pointer;" /> -->
                                </div>
                                <div class="button-grid ">
                                    <div class="btn-group">

                                        <!-- <input type="date" placeholder="Select date of birth" class="border"
                                            autocomplete="off" aria-autocomplete required name="new-dob" /> -->
                                        <button class="custom_dropdown_btn" type="button"
                                            id="dropdownMenuClickableInside" data-bs-toggle="dropdown"
                                            data-bs-auto-close="outside" aria-expanded="false">
                                            {{ inlineDatePicker | date: 'dd/MM/yyyy' }}
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickableInside">
                                            <div class="panel-body inline-flatpickr">
                                                <input type="hidden" class="form-control" mwlFlatpickr [inline]="true"
                                                    [(ngModel)]="inlineDatePicker" [disableMobile]="true"
                                                    (ngModelChange)="onDateChange($event)" [options]="flatpickrOptions">
                                            </div>

                                        </ul>
                                    </div>
                                </div>


                            </div>
                            <div class="card mt-20">
                                <div class="card-title">
                                    <h2> Appointments</h2>
                                </div>
                                <!-- <hr> -->
                                <div class="card-content">
                                    <div class="table-wrapper">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Appointment ID</th>
                                                    <th scope="col">Patient Name</th>
                                                    <th scope="col">Date & Time</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Reschedule</th>
                                                    <th scope="col">View</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let appointments of appointmentList; let i = index">
                                                    <!-- <tr> -->
                                                    <td>{{i+1}}</td>
                                                    <td>{{appointments.patientId.f_name}}
                                                        {{appointments.patientId.l_name}}</td>
                                                    <td> {{appointments?.slothDetails?.startTime ||
                                                        ' 27/07/2024 01:20 PM'}}</td>
                                                    <!-- <td>{{ '27/07/2024 01:20 PM' | date: 'dd MMM yyyy'
                                                        }}</td> -->

                                                    <td>
                                                        <span class="tag" [style.color]="getStatusColor('New')"
                                                            [style.background-color]="getStatusBg('New')">
                                                            {{ 'New' | titlecase }}
                                                            <!-- {{ order?.order_status | titlecase }} -->
                                                        </span>
                                                    </td>
                                                    <td><a class="tag_btn-reschdule">Reschedule</a></td>
                                                    <td>
                                                        <a class="btn-business"
                                                            (click)="viewAppointment(appointments)">View Appointment</a>
                                                    </td>
                                                    <td>
                                                        <a class="tag_btn-cancel">Cancel Appointment</a>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer-section ">
                                    <h3 class="page-index">Page {{itemInView}} of {{totalView}} </h3>
                                    <div class="">
                                        <ng-container *ngIf="appointmentList?.length">
                                            <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
                                                (pageChange)="onPageChange($event)"></app-pagination>
                                        </ng-container>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>

</section>