<section class="booking_flow">
    <div class="container-fluid">
        <!-- <div class="booking_row">
            <div class="col-2"> -->
        <div class="stepper-card-container">
            <div class="stepper-card">
                <ng-container>
                    <div class="w-100-p">
                        <div class="d-flex justify-content-center form-width flex-column">
                            <div class="text-content">
                                <h1 class="title">Change Password</h1>
                                <p class="lead paragraph-desc">
                                </p>
                            </div>

                            <div class="text-content mt-32">
                                <h2 class="profile-header-text">Change Password</h2>

                            </div>
                            <hr>
                            <form [formGroup]="changePassForm" autocomplete="disable">
                                <div class="form-wrapper">
                                    <div class="d-flex gap-4 group-wrapper ">
                                        <div class="input-group">
                                            <label for="fname">Current Password</label>
                                            <div class="password-field">
                                                <input [type]="isShowCurrentPassword ? 'text':'password'"
                                                    formControlName="current_password"
                                                    class="form-control placeholder-text " placeholder="********">
                                                <img *ngIf="isShowCurrentPassword" (click)="showCurrentPassword()"
                                                    [src]="imgSrc" alt="Toggle Password Visibility"
                                                    style="cursor: pointer;" />
                                                <img *ngIf="!isShowCurrentPassword" (click)="showCurrentPassword()"
                                                    [src]="imgSrc" alt="Toggle Password Visibility"
                                                    style="cursor: pointer;" />
                                            </div>
                                            <ng-container
                                                *ngIf="changePassForm.get('current_password')?.invalid && (changePassForm.get('current_password')?.dirty || changePassForm.get('current_password')?.touched)">
                                                <ng-container *ngIf="changePassForm.get('current_password')?.errors">
                                                    <span class="text-danger error-state">current_password is
                                                        required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>
                                        <div class="input-group">
                                            <label for="lname">New Password</label>
                                            <div class="password-field">
                                                <input [type]="isShowNewPassword ? 'text':'password'"
                                                    formControlName="new_password"
                                                    class="form-control placeholder-text " placeholder="********">
                                                <img *ngIf="isShowNewPassword" (click)="showNewPassword()"
                                                    [src]="imgSrc2" alt="Toggle Password Visibility"
                                                    style="cursor: pointer;" />
                                                <img *ngIf="!isShowNewPassword" (click)="showNewPassword()"
                                                    [src]="imgSrc2" alt="Toggle Password Visibility"
                                                    style="cursor: pointer;" />
                                            </div>
                                            <ng-container
                                                *ngIf="changePassForm.get('new_password')?.invalid && (changePassForm.get('new_password')?.dirty || changePassForm.get('new_password')?.touched)">
                                                <ng-container *ngIf="changePassForm.get('new_password')?.errors">
                                                    <span class="text-danger error-state">new_password is
                                                        required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>

                                        <div class="input-group">
                                            <label for="fname">Confirm New Password</label>
                                            <div class="password-field">
                                                <input [type]="isShowConfirmPassword ? 'text':'password'"
                                                    formControlName="confirm_password"
                                                    class="form-control placeholder-text " placeholder="********">
                                                <img *ngIf="isShowConfirmPassword" (click)="showConfirmPassword()"
                                                    [src]="imgSrc1" alt="Toggle Password Visibility"
                                                    style="cursor: pointer;" />
                                                <img *ngIf="!isShowConfirmPassword" (click)="showConfirmPassword()"
                                                    [src]="imgSrc1" alt="Toggle Password Visibility"
                                                    style="cursor: pointer;" />
                                            </div>
                                            <ng-container
                                                *ngIf="changePassForm.get('confirm_password')?.invalid && (changePassForm.get('confirm_password')?.dirty || changePassForm.get('confirm_password')?.touched)">
                                                <ng-container *ngIf="changePassForm.get('confirm_password')?.errors">
                                                    <span class="text-danger error-state">confirm_password is
                                                        required</span>
                                                </ng-container>

                                            </ng-container>
                                        </div>

                                    </div>

                                    <div class="d-flex gap-4 group-wrapper mt-12 justify-content-end">
                                        <button type="button" class="btn btn-submit btn-width w-20-p"
                                            (click)="changePassword()">Change Password</button>
                                    </div>

                                </div>

                            </form>

                        </div>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>
    <!-- </div>
    </div> -->
</section>