<!-- <app-header></app-header>
<div class="container my-4" style="max-width: 100%;">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="vertical-tabs-card">
                <div class="tabs-card px-4">
                    <div class="row g-0 ">
                        <div class="col-md-2  tabs-container">
                            <app-nav-bar></app-nav-bar>
                        </div>
                        <div class="col-md-10">
                            <div class="card content-card" style="padding-bottom: 6.7%;">
                                <div class="tab-content" id="v-tabsContent">
                                    <div class="tab-pane show active" id="tab5" role="tabpanel"
                                        aria-labelledby="tab5-tab">
                                        <app-provider-profile></app-provider-profile>
                                        <app-location *ngIf="enableLocationTab"></app-location>
                                        <app-rates *ngIf="enableRatesTab"></app-rates>
                                        <app-working-hours *ngIf="enableWorkingHoursTab"></app-working-hours>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer> -->
<app-header></app-header>
<div class="container-fluid" style="max-width: 100%;">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="vertical-tabs-card">
                <div class="tabs-card px-4">
                    <div class="row g-0 ">
                        <div class="col-md-2  tabs-container">
                            <app-nav-bar></app-nav-bar>
                        </div>
                        <div class="col-md-10">
                            <div class=" content-card card-bg" style="padding-bottom: 6.7%;">
                                <div class="tab-content" id="v-tabsContent">
                                    <div class="tab-pane show active" id="tab5" role="tabpanel"
                                        aria-labelledby="tab5-tab">
                                        <app-provider-profile></app-provider-profile>
                                        <app-location *ngIf="enableLocationTab"></app-location>
                                        <app-rates *ngIf="enableRatesTab"></app-rates>
                                        <app-working-hours *ngIf="enableWorkingHoursTab"></app-working-hours>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>