<!-- <div class="col-md-2 ms-auto " style="margin-bottom: 16px;">
    <button type="button" class="btn bg-warning text-white hover-none button-small px-2" style="width: 100%;
    padding: 4px; font-size: 15px;" (click)="addNewLocation()">
        Add Location
    </button>
</div> -->
<!-- <div class=" customAccordion" id="accordionFlushExample">
    <div class="accordion-item ">
        <h2 class="accordion-header accordion-button" id="flush-headingOne">
            <div class="accordion-button set-cursor" type="button">
                <table class="table LocationHeaderTable">
                    <tr class="custom-rows bg-white border-none">
                        <th class="text-center">Sr.no</th>
                        <th class="text-center">Location Name</th>
                        <th class="text-center">Address One</th>
                        <th class="text-center">Address Two</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Active Status</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Delete</th>
                    </tr>

                    <tr *ngFor="let opt of providersLocation; let i = index">
                        <td class="text-center">{{i+1}}</td>
                        <td class="text-center">{{opt.locationName}}</td>
                        <td class="text-center">{{opt.locationAddressLineOne}}</td>
                        <td class="text-center">{{opt.locationAddressLineTwo}}</td>
                        <td class="text-center">{{opt.locationDescription}}</td>
                        <td class="text-center" *ngIf="opt.isActive">Active</td>
                        <td class="text-center" *ngIf="!opt.isActive">Not Active</td>
                        <td class="text-center">
                            <button type="button" class="btn bg-primary-light text-white button-small px-3"
                                (click)="openEditModal(opt)">
                                Edit
                            </button>
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-danger-light btn-danger text-white button-small px-3 "
                                style="background-color: red;" (click)="deleteLocationInformation(opt._id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </h2>
    </div>
</div> -->


<section class="booking_flow">
    <div class="container-fluid">

        <div class="stepper-card-container">
            <div class="stepper-card">
                <ng-container>
                    <div class="w-100-p">
                        <div class="d-flex justify-content-center form-width flex-column">

                            <div class="text-content d-flex align-items-center justify-content-between">
                                <h1 class="title">Locations</h1>
                                <p class="lead paragraph-desc">
                                </p>
                                <button class="btn btn-business" (click)="addNewLocation()"><i
                                        class="bi bi-plus mr-8"></i>Add New Locations
                                </button>
                            </div>

                            <div class="page-header-section mt-28">
                                <div class="input-field">
                                    <input type="text" class=" placeholder-text " placeholder="Search for Locations">
                                    <i class="bi bi-search" style="cursor: pointer;"></i>

                                </div>
                                <div class="button-grid ">
                                    <!-- <div class="btn-group">

                                        <input type="date" placeholder="Select date of birth" class="border"
                                            autocomplete="off" aria-autocomplete required name="new-dob" />
                                    </div> -->
                                </div>


                            </div>
                            <div class="card mt-20">
                                <div class="card-title">
                                    <h2> Locations</h2>
                                </div>
                                <div class="card-content">
                                    <div class="table-wrapper">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Location Name</th>
                                                    <th scope="col">Address Line One</th>
                                                    <th scope="col">Address Line Two</th>
                                                    <th scope="col">City</th>
                                                    <th scope="col">Zip Code</th>
                                                    <th scope="col">State</th>
                                                    <th scope="col">Activation Status</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let order of providersLocation; let i = index">
                                                    <!-- <tr> -->
                                                    <td>{{order.locationName}}</td>
                                                    <td>{{order.locationAddressLineOne}}</td>
                                                    <td>{{order.locationAddressLineTwo}}</td>
                                                    <td>{{order.city}}</td>
                                                    <td>{{order.zip}}</td>
                                                    <td>
                                                        <span class="tag" [style.color]="getStatusColor(order.isActive)"
                                                            [style.background-color]="getStatusBg(order.isActive)">
                                                            {{ order.status | titlecase }}
                                                            <!-- {{ order?.order_status | titlecase }} -->
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <div class="form-switch">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="flexSwitchCheckChecked" [checked]="order.isActive">
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="d-flex justify-content-evenly align-items-center">
                                                            <i class="bi bi-trash fs-20"></i>
                                                            <i class="bi bi-pencil-square fs-20"></i>
                                                        </div>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer-section ">
                                    <h3 class="page-index">Page {{itemInView}} of {{totalView}} </h3>
                                    <div class="">
                                        <app-pagination></app-pagination>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>

</section>