<div class="col-md-2 ms-auto " style="margin-bottom: 16px;">
    <button type="button" class="btn bg-warning text-white hover-none button-small px-2" style="width: 100%;
    padding: 4px; font-size: 15px;" (click)="addNewLocation()">
        Add Location
    </button>
</div>
<!-- <div class=" customAccordion" id="accordionFlushExample">
    <div class="accordion-item ">
        <h2 class="accordion-header accordion-button" id="flush-headingOne">
            <div class="accordion-button set-cursor" type="button">
                <table class="table LocationHeaderTable">
                    <tr class="custom-rows bg-white border-none">
                        <th class="text-center">Sr.no</th>
                        <th class="text-center">Location Name</th>
                        <th class="text-center">Address One</th>
                        <th class="text-center">Address Two</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Active Status</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Delete</th>
                    </tr>

                    <tr *ngFor="let opt of providersLocation; let i = index">
                        <td class="text-center">{{i+1}}</td>
                        <td class="text-center">{{opt.locationName}}</td>
                        <td class="text-center">{{opt.locationAddressLineOne}}</td>
                        <td class="text-center">{{opt.locationAddressLineTwo}}</td>
                        <td class="text-center">{{opt.locationDescription}}</td>
                        <td class="text-center" *ngIf="opt.isActive">Active</td>
                        <td class="text-center" *ngIf="!opt.isActive">Not Active</td>
                        <td class="text-center">
                            <button type="button" class="btn bg-primary-light text-white button-small px-3"
                                (click)="openEditModal(opt)">
                                Edit
                            </button>
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-danger-light btn-danger text-white button-small px-3 "
                                style="background-color: red;" (click)="deleteLocationInformation(opt._id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </h2>
    </div>
</div> -->