<section class="booking_flow">
    <div class="container-fluid">

        <div class="stepper-card-container">
            <div class="stepper-card">
                <ng-container>
                    <div class="w-100-p">
                        <div class="d-flex justify-content-center form-width flex-column">

                            <div class="text-content d-flex align-items-center justify-content-between">
                                <h1 class="title">Rates / Service</h1>
                                <p class="lead paragraph-desc">
                                </p>
                                <button class="btn btn-business" (click)="addNewLocation()"><i
                                        class="bi bi-plus mr-8"></i>Add New Rates / Service
                                </button>
                            </div>
                            <div class="page-header-section mt-28">
                                <div class="input-field">
                                    <input type="text" class=" placeholder-text "
                                        placeholder="Search for Rates / Service">
                                    <i class="bi bi-search" style="cursor: pointer;"></i>
                                </div>
                                <div class="button-grid ">
                                    <div class="btn-group">

                                        <input type="date" placeholder="Select date of birth" class="border"
                                            autocomplete="off" aria-autocomplete required name="new-dob" />
                                    </div>
                                </div>


                            </div>
                            <div class="card mt-20">
                                <div class="card-title">
                                    <h2> Service</h2>
                                </div>
                                <div class="card-content">
                                    <div class="table-wrapper">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Service Name</th>
                                                    <th scope="col">Location</th>
                                                    <th scope="col">Amount ($)</th>
                                                    <th scope="col">State</th>
                                                    <th scope="col">Activation Status</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let order of workingHours; let i = index">
                                                    <!-- <tr> -->
                                                    <td>{{order.serviceName}}</td>
                                                    <td>{{order.locationName}}</td>


                                                    <td>{{order.rate | currency:'USD '}}</td>
                                                    <td>
                                                        <span class="tag"
                                                            [style.color]="getStatusColor(order.is_enable)"
                                                            [style.background-color]="getStatusBg(order.is_enable)">
                                                            {{ order.is_enable === true ? 'Active': 'Inactive' |
                                                            titlecase }}
                                                            <!-- {{ order?.order_status | titlecase }} -->
                                                        </span>
                                                    </td>

                                                    <td>
                                                        <div class="form-switch">
                                                            <input class="form-check-input" type="checkbox"
                                                                (change)="onCheckboxChange($event,order)"
                                                                id="flexSwitchCheckChecked" [checked]="order.is_enable">
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="d-flex justify-content-evenly align-items-center">
                                                            <i class="bi bi-trash fs-20"
                                                                (click)="deleteService(order)"></i>
                                                            <i class="bi bi-pencil-square fs-20"
                                                                (click)="openRatesModalToEdit(order) "></i>
                                                        </div>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer-section ">
                                    <h3 class="page-index">Page {{itemInView}} of {{totalView}} </h3>
                                    <div class="">
                                        <ng-container *ngIf="workingHours?.length">
                                            <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
                                                (pageChange)="onPageChange($event)"></app-pagination>
                                        </ng-container>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>

</section>