<section class="">
    <div class="container-fluid">

        <div class="stepper-card-container">
            <div class="stepper-card">
                <ng-container>
                    <div class="w-100-p">
                        <div class="d-flex justify-content-center form-width flex-column">
                            <div class="text-content">
                                <h1 class="title">Option Mapping Management</h1>
                                <p class="lead paragraph-desc">
                                </p>
                            </div>

                            <div class="page-header-section mt-28">
                                <div class="input-field">
                                    <input type="text" class=" placeholder-text "
                                        placeholder="Search for LOV">
                                    <img src="../../../../assets/images/provider/Icon.png"
                                        alt="Toggle Password Visibility" style="cursor: pointer;" />
                                </div>
                                <div class="button-grid ">
                                    <div class="btn-group">
                                    </div>
                                </div>


                            </div>
                            <div class="card mt-20">
                                <div class="card-title">
                                    <h2> Option Mapping Management</h2>
                                </div>
                                <!-- <hr> -->


                            </div>



                        </div>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>

</section>