<section class="">
    <div class="container-fluid">

        <div class="stepper-card-container">
            <div class="stepper-card">
                <ng-container>
                    <div class="w-100-p">
                        <div class="d-flex justify-content-center form-width flex-column">
                            <div class="text-content">
                                <h1 class="title">Appointment Governance</h1>
                                <p class="lead paragraph-desc">
                                </p>
                            </div>

                            <div class="page-header-section mt-28">
                                <div class="input-field">
                                    <input type="text" class=" placeholder-text "
                                        placeholder="Search for Appointment Governance">
                                    <img src="../../../../assets/images/provider/Icon.png"
                                        alt="Toggle Password Visibility" style="cursor: pointer;" />
                                </div>
                                <div class="button-grid ">
                                    <div class="btn-group">
                                    </div>
                                </div>


                            </div>

                            <div class="card mt-20">
                                <div class="card-title">
                                    <h2> Appointment Governance</h2>
                                </div>
                                <div class="card-content">
                                    <div class="table-wrapper">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Patient Name</th>
                                                    <th scope="col">Provider Name</th>
                                                    <th scope="col">City</th>
                                                    <th scope="col">Services</th>
                                                    <th scope="col">Main Speciality</th>
                                                    <th scope="col">Date & Time</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Details</th>
                                                    <th scope="col">Cancel</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let data of AppointmentList;let i = index">

                                                    <td>{{data.patientId.f_name}}</td>
                                                    <td>{{data.providerId.practiceName}}</td>
                                                    <td>{{data.providerId.city}}</td>
                                                    <td>{{data.providerId.practiceSpecialization}}</td>
                                                    <td>{{data.providerId.mainSpeciality}}</td>
                                                    <td>{{data.slotDetails.startTime | date: 'dd/MM/yyyy hh:mm a'}}
                                                    </td>


                                                    <td>
                                                        <span class="tag" [style.color]="getStatusColor(data.status)"
                                                            [style.background-color]="getStatusBg(data.status)">
                                                            {{ true === true ? 'New': 'Inactive' |
                                                            titlecase }}
                                                        </span>
                                                    </td>

                                                    <td>
                                                        <a class="tag_btn-detail"
                                                            (click)="showAppointValues(data.id)">View
                                                            Values</a>
                                                    </td>

                                                    <td>
                                                        <a class="tag_btn-cancel"
                                                            (click)="deleteAppoint(data._id)">Delete</a>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer-section ">
                                    <h3 class="page-index">Page {{itemInView}} of {{totalView}} </h3>
                                    <div class="">
                                        <!-- <ng-container *ngIf="workingHours?.length"> -->
                                        <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
                                            (pageChange)="onPageChange($event)"></app-pagination>
                                        <!-- </ng-container> -->
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>

</section>