.h2-f-t {
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: center;

}

.paragraph-2 {
    color: #667085;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;

}

.h2-f-t-2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
    text-align: left;
    color: #101828;

}

.paragraph {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #667085;
    // max-width: 680px;
    margin: auto;

  }