<app-header></app-header>
<section class="pb-20 mt-64">
    <div class="container">
        <div class="container d-flex flex-column">
            <h1 class="h2-f-t text-capitalize"> CurisNow Inc. Terms of Service </h1>
            <p class="text-center paragraph">
                The following Terms of Service govern the relationship between you, the end user, and CurisNow Inc. and
                its affiliates ("we," "our," "us," or "CurisNow").
            </p>

        </div>
        <div class="mt-100  mb-56">
            <div class="photos-grid w-100-p">
                <div class="card     content-area border-0">
                    <h2 class="h2-f-t-2 mt-40">Terms</h2>
                    <p class="paragraph-2">
                        By accessing the website at curisnow.com, you agree to be bound by these terms of service, all
                        applicable laws, and regulations. If you do not agree with any of these terms, you are
                        prohibited from using or accessing this site.
                    </p>

                    <h2 class="h2-f-t-2 mt-40">Use License</h2>
                    <p class="paragraph-2">Permission is granted to temporarily download one copy of the materials on
                        CurisNow's website for personal, non-commercial use. Under this license, you may not:
                    </p>
                    <ul>
                        <li>Modify or copy the materials;</li>
                        <li>Use the materials for any commercial purpose;</li>
                        <li>Attempt to decompile or reverse engineer any software on CurisNow's website;</li>
                        <li>Remove any copyright or other proprietary notations;</li>
                        <li>Transfer the materials to another person or "mirror" the materials on any other server.</li>
                    </ul>
                    <p class="paragraph-2">This license shall automatically terminate if you violate any of these
                        restrictions and may be terminated by CurisNow at any time.
                    </p>

                    <h2 class="h2-f-t-2 mt-40">Content and Limitation of Liability</h2>
                    <p class="paragraph-2">The materials on CurisNow's website are provided on an 'as is' basis.
                        CurisNow makes no warranties, express or implied, and disclaims all warranties including,
                        without limitation, implied warranties of merchantability and fitness for a particular purpose.
                        We do not warrant any particular health outcomes or the accuracy of any estimates on the site.
                    </p>
                    <p class="paragraph-2 mt-40">IN NO EVENT SHALL CURISNOW BE LIABLE FOR ANY DIRECT, INDIRECT,
                        INCIDENTAL, OR
                        CONSEQUENTIAL DAMAGES ARISING FROM THE USE OF OUR SERVICES OR INABILITY TO USE OUR SERVICES. THE
                        LIMIT OF OUR LIABILITY FOR ANY LOSS, DAMAGE, CLAIM, OR EXPENSE IS $100. </p>


                    <h2 class="h2-f-t-2 mt-40">Data You Provide</h2>
                    <p class="paragraph-2">
                        By submitting information through CurisNow, you grant us permission to use this information in
                        accordance with our Privacy Policy. You are solely responsible for the accuracy and legality of
                        the information you provide.


                    </p>
                    <h2 class="h2-f-t-2 mt-40">Third-Party Content</h2>
                    <p class="paragraph-2">
                        Our website may include content provided by third parties. CurisNow is not responsible for the
                        accuracy or opinions expressed in such content.

                    </p>
                    <h2 class="h2-f-t-2 mt-40">Links</h2>
                    <p class="paragraph-2">
                        CurisNow is not responsible for the contents of any linked site. Use of any linked website is at
                        the user's own risk.
                    </p>
                    <h2 class="h2-f-t-2 mt-40">Modifications</h2>
                    <p class="paragraph-2">
                        CurisNow may revise these terms of service at any time without notice. By using this website,
                        you agree to be bound by the current version of these terms of service.
                    </p>
                    <h2 class="h2-f-t-2 mt-40">Governing Law</h2>
                    <p class="paragraph-2">
                        These terms and conditions are governed by the laws of Delaware, and you submit to the exclusive
                        jurisdiction of the state or federal courts located there. </p>
                    <h2 class="h2-f-t-2 mt-40">Geographic Limitations</h2>
                    <p class="paragraph-2">
                        CurisNow operates within the United States, and its services are intended for use by persons
                        within the United States. If you engage with a provider through CurisNow, you represent that you
                        are located in a state where the provider is licensed. </p>


                </div>

            </div>
        </div>
        <hr>
    </div>
</section>



<app-links></app-links>


<app-footer></app-footer>