<app-header></app-header>
<section class="pb-20 pt-64">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="row align-items-end justify-content-between">
          <div class="col-12 col-md-12 col-lg-7 col-xl-7">
            <figure class="photo">
              <div class="d-flex flex-column g-36">
                <div class="d-flex gap-20 flex-column">
                  <h1 >Helping find economical healthcare for uninsured and under-insured.</h1>
                  <p class="para">Curis is a marketplace connecting patients and providers based on a pay for service
                    basis</p>
                </div>
              </div>
            </figure>
          </div>
          <div class="col-12 col-md-12 col-lg-5 col-xl-4">
            <figure class="photo">
              <img src="../../../../assets/images/home/title-img.svg" alt="Couple" loading="lazy" width="100%"
                height="100%" />
            </figure>
          </div>
        </div>
      </div>
      <div class="mt-40 col-12 col-lg-12">
        <div class="form_fields">
          <div class="form_group">
            <!-- <select class="form-control" aria-label="Default select example" [(ngModel)]="selectedSpeciality">
              <option selected>Select Speciality</option>
              <option>Speciality 1</option>
              <option>Speciality 2</option>
              <option>Speciality 3</option>
            </select> -->
            <select class="form-select" aria-label="Default select example">
              <option selected>Select Speciality</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="form_group">
            <select class="form-select" aria-label="Default select example">
              <option selected>Select Service</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="form_group">
            <select class="form-select" aria-label="Default select example">
              <option selected>Select Location</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="form_group">
            <input type="date" class="form-control" aria-label="Default select example" [(ngModel)]="selectedDate">
          </div>
          <div class="form_group">
            <button class="web_button" routerLink="service-providers" (click)="search()">Search</button>
          </div>
        </div>
      </div>
      <div class="mt-60 col-12 col-lg-12">
        <div class="ft_card d-flex flex-column">
          <h2 class="title">Explore Top Rated Direct-Pay-Care Providers</h2>
          <p class="para">Browse thousands of trusted providers offering affordable services every day. Book appointments online today and get the care you need.</p>

        </div>
      </div>

    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link web_button active" id="doctors-tab" data-bs-toggle="tab" data-bs-target="#doctors"
              type="button" role="tab" aria-controls="doctors" aria-selected="true">Doctors</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link web_button" id="specialist-tab" data-bs-toggle="tab" data-bs-target="#specialist"
              type="button" role="tab" aria-controls="specialist" aria-selected="false">Specialist</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="doctors" role="tabpanel" aria-labelledby="doctors-tab">
            <div class="all_doctors">
              <div class="doctors_profile_card">
                <div class="doctors_profile">
                  <img src="../../../../assets/images/home/Avatar.png" loading="lazy" alt="Doctors Profile" width="100%"
                    height="100%">
                  <div class="d-flex flex-column g-6">
                    <div class="d-flex align-items-center g-6">
                      <span class="d-flex align-items-center g-4">
                        <i class="bi bi-star-fill star-st" style="color:#FF9900" *ngFor="let star of [1, 2, 3, 4, 5]"
                          [ngClass]="{
                        'bi-star-fill': rating >= star,
                        'bi-star': rating < star
                      }" (click)="setRating(star)">
                        </i>
                      </span>
                      <span><b>4.6</b> (200)</span>
                    </div>
                    <span class="tags">Available</span>
                  </div>
                </div>
                <div class="">
                  <h3 class="sub_title">Olivia Rhye, APRN</h3>
                  <span class="indicate">Dermatologist</span>
                  <p class="mb-0">604 Davis Cir SWHUNTSVILLE, AL 35801</p>
                </div>
                <div class="">
                  <h4 class="mini_title">Sun, May 5</h4>
                  
                  <div class="slots">
                    <ng-container *ngFor="let slot of slots; let i = index">
                      <a *ngIf="i < 5" href="#">{{ slot }}</a>
                    </ng-container>
                    <a class="more" href="#"> More </a>
                  </div>
                </div>
              </div>
              <div class="doctors_profile_card">
                <div class="doctors_profile">

                  <img src="../../../../assets/images/home/Avatar.png" loading="lazy" alt="Doctors Profile" width="100%"
                    height="100%">
                  <div class="d-flex flex-column g-6">
                    <div class="d-flex align-items-center g-6">
                      <span class="d-flex align-items-center g-4">

                        <i class="bi bi-star-fill star-st" style="color:#FF9900" *ngFor="let star of [1, 2, 3, 4, 5]"
                          [ngClass]="{
                        'bi-star-fill': rating >= star,
                        'bi-star': rating < star
                      }" (click)="setRating(star)">
                        </i>
                      </span>
                      <span><b>4.6</b> (200)</span>
                    </div>
                    <span class="tags">Available</span>
                  </div>
                </div>
                <div class="">
                  <h3 class="sub_title">Olivia Rhye, APRN</h3>
                  <span class="indicate">Dermatologist</span>
                  <p class="mb-0">604 Davis Cir SWHUNTSVILLE, AL 35801</p>
                </div>
                <div class="">
                  <h4 class="mini_title">Sun, May 5</h4>
                  
                  <div class="slots">
                    <ng-container *ngFor="let slot of slots; let i = index">
                      <a *ngIf="i < 5" href="#">{{ slot }}</a>
                    </ng-container>
                    <a class="more" href="#"> More </a>
                  </div>
                </div>
              </div>
              <div class="doctors_profile_card">
                <div class="doctors_profile">

                  <img src="../../../../assets/images/home/Avatar.png" loading="lazy" alt="Doctors Profile" width="100%"
                    height="100%">
                  <div class="d-flex flex-column g-6">
                    <div class="d-flex align-items-center g-6">
                      <span class="d-flex align-items-center g-4">

                        <i class="bi bi-star-fill star-st" style="color:#FF9900" *ngFor="let star of [1, 2, 3, 4, 5]"
                          [ngClass]="{
                        'bi-star-fill': rating >= star,
                        'bi-star': rating < star
                      }" (click)="setRating(star)">
                        </i>
                      </span>
                      <span><b>4.6</b> (200)</span>
                    </div>
                    <span class="tags">Available</span>
                  </div>
                </div>
                <div class="">
                  <h3 class="sub_title">Olivia Rhye, APRN</h3>
                  <span class="indicate">Dermatologist</span>
                  <p class="mb-0">604 Davis Cir SWHUNTSVILLE, AL 35801</p>
                </div>
                <div class="">
                  <h4 class="mini_title">Sun, May 5</h4>
                  
                  <div class="slots">
                    <ng-container *ngFor="let slot of slots; let i = index">
                      <a *ngIf="i < 5" href="#">{{ slot }}</a>
                    </ng-container>
                    <a class="more" href="#"> More </a>
                  </div>
                </div>
              </div>
              <div class="doctors_profile_card">
                <div class="doctors_profile">

                  <img src="../../../../assets/images/home/Avatar.png" loading="lazy" alt="Doctors Profile" width="100%"
                    height="100%">
                  <div class="d-flex flex-column g-6">
                    <div class="d-flex align-items-center g-6">
                      <span class="d-flex align-items-center g-4">

                        <i class="bi bi-star-fill star-st" style="color:#FF9900" *ngFor="let star of [1, 2, 3, 4, 5]"
                          [ngClass]="{
                        'bi-star-fill': rating >= star,
                        'bi-star': rating < star
                      }" (click)="setRating(star)">
                        </i>
                      </span>
                      <span><b>4.6</b> (200)</span>
                    </div>
                    <span class="tags">Available</span>
                  </div>
                </div>
                <div class="">
                  <h3 class="sub_title">Olivia Rhye, APRN</h3>
                  <span class="indicate">Dermatologist</span>
                  <p class="mb-0">604 Davis Cir SWHUNTSVILLE, AL 35801</p>
                </div>
                <div class="">
                  <h4 class="mini_title">Sun, May 5</h4>
                  
                  <div class="slots">
                    <ng-container *ngFor="let slot of slots; let i = index">
                      <a *ngIf="i < 5" href="#">{{ slot }}</a>
                    </ng-container>
                    <a class="more" href="#"> More </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="specialist" role="tabpanel" aria-labelledby="specialist-tab">
            <div class="all_doctors">
              <div class="doctors_profile_card">
                <div class="doctors_profile">
                  <img src="../../../../assets/images/home/Avatar.png" loading="lazy" alt="Doctors Profile" width="100%"
                    height="100%">
                  <div class="d-flex flex-column g-6">
                    <div class="d-flex align-items-center g-6">
                      <span class="d-flex align-items-center g-4">

                        <i class="bi bi-star-fill star-st" style="color:#FF9900" *ngFor="let star of [1, 2, 3, 4, 5]"
                          [ngClass]="{
                        'bi-star-fill': rating >= star,
                        'bi-star': rating < star
                      }" (click)="setRating(star)">
                        </i>
                      </span>
                      <span><b>4.6</b> (200)</span>
                    </div>
                    <span class="tags">Available</span>
                  </div>
                </div>
                <div class="">
                  <h3 class="sub_title">Olivia Rhye, APRN</h3>
                  <span class="indicate">Dermatologist</span>
                  <p class="mb-0">604 Davis Cir SWHUNTSVILLE, AL 35801</p>
                </div>
                <div class="">
                  <h4 class="mini_title">Sun, May 5</h4>
                  
                  <div class="slots">
                    <ng-container *ngFor="let slot of slots; let i = index">
                      <a *ngIf="i < 5" href="#">{{ slot }}</a>
                    </ng-container>
                    <a class="more" href="#"> More </a>
                  </div>
                </div>
              </div>
              <div class="doctors_profile_card">
                <div class="doctors_profile">

                  <img src="../../../../assets/images/home/Avatar.png" loading="lazy" alt="Doctors Profile" width="100%"
                    height="100%">
                  <div class="d-flex flex-column g-6">
                    <div class="d-flex align-items-center g-6">
                      <span class="d-flex align-items-center g-4">

                        <i class="bi bi-star-fill star-st" style="color:#FF9900" *ngFor="let star of [1, 2, 3, 4, 5]"
                          [ngClass]="{
                        'bi-star-fill': rating >= star,
                        'bi-star': rating < star
                      }" (click)="setRating(star)">
                        </i>
                      </span>
                      <span><b>4.6</b> (200)</span>
                    </div>
                    <span class="tags">Available</span>
                  </div>
                </div>
                <div class="">
                  <h3 class="sub_title">Olivia Rhye, APRN</h3>
                  <span class="indicate">Dermatologist</span>
                  <p class="mb-0">604 Davis Cir SWHUNTSVILLE, AL 35801</p>
                </div>
                <div class="">
                  <h4 class="mini_title">Sun, May 5</h4>
                  
                  <div class="slots">
                    <ng-container *ngFor="let slot of slots; let i = index">
                      <a *ngIf="i < 5" href="#">{{ slot }}</a>
                    </ng-container>
                    <a class="more" href="#"> More </a>
                  </div>
                </div>
              </div>
              <div class="doctors_profile_card">
                <div class="doctors_profile">

                  <img src="../../../../assets/images/home/Avatar.png" loading="lazy" alt="Doctors Profile" width="100%"
                    height="100%">
                  <div class="d-flex flex-column g-6">
                    <div class="d-flex align-items-center g-6">
                      <span class="d-flex align-items-center g-4">

                        <i class="bi bi-star-fill star-st" style="color:#FF9900" *ngFor="let star of [1, 2, 3, 4, 5]"
                          [ngClass]="{
                        'bi-star-fill': rating >= star,
                        'bi-star': rating < star
                      }" (click)="setRating(star)">
                        </i>
                      </span>
                      <span><b>4.6</b> (200)</span>
                    </div>
                    <span class="tags">Available</span>
                  </div>
                </div>
                <div class="">
                  <h3 class="sub_title">Olivia Rhye, APRN</h3>
                  <span class="indicate">Dermatologist</span>
                  <p class="mb-0">604 Davis Cir SWHUNTSVILLE, AL 35801</p>
                </div>
                <div class="">
                  <h4 class="mini_title">Sun, May 5</h4>
                  
                  <div class="slots">
                    <ng-container *ngFor="let slot of slots; let i = index">
                      <a *ngIf="i < 5" href="#">{{ slot }}</a>
                    </ng-container>
                    <a class="more" href="#"> More </a>
                  </div>
                </div>
              </div>
              <div class="doctors_profile_card">
                <div class="doctors_profile">

                  <img src="../../../../assets/images/home/Avatar.png" loading="lazy" alt="Doctors Profile" width="100%"
                    height="100%">
                  <div class="d-flex flex-column g-6">
                    <div class="d-flex align-items-center g-6">
                      <span class="d-flex align-items-center g-4">

                        <i class="bi bi-star-fill star-st" style="color:#FF9900" *ngFor="let star of [1, 2, 3, 4, 5]"
                          [ngClass]="{
                        'bi-star-fill': rating >= star,
                        'bi-star': rating < star
                      }" (click)="setRating(star)">
                        </i>
                      </span>
                      <span><b>4.6</b> (200)</span>
                    </div>
                    <span class="tags">Available</span>
                  </div>
                </div>
                <div class="">
                  <h3 class="sub_title">Olivia Rhye, APRN</h3>
                  <span class="indicate">Dermatologist</span>
                  <p class="mb-0">604 Davis Cir SWHUNTSVILLE, AL 35801</p>
                </div>
                <div class="">
                  <h4 class="mini_title">Sun, May 5</h4>
                  
                  <div class="slots">
                    <ng-container *ngFor="let slot of slots; let i = index">
                      <a *ngIf="i < 5" href="#">{{ slot }}</a>
                    </ng-container>
                    <a class="more" href="#">More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<app-key-features></app-key-features>
<app-workflow></app-workflow>
<app-testimonial></app-testimonial>
<app-links></app-links>
<app-footer></app-footer>
