<app-header></app-header>
<section class="pb-64 pt-64">
    <div class="container">
        
        <div class="row justify-content-between">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="row align-items-end justify-content-between">
                    <div class="col-12 col-md-12 col-lg-7 col-xl-7">
                        <figure class="photo">
                            <div class="d-flex flex-column g-36">
                                <div class="d-flex gap-20 flex-column">
                                    <h1 class="title">Helping find economical healthcare for uninsured and under-insured.</h1>
                                    <p class="para">Curis is a marketplace connecting patients and providers based on a pay for service basis</p>
                                </div>
                                
                                
                            </div>
                        </figure>
                    </div>
                    <div class="col-12 col-md-12 col-lg-5 col-xl-4">
                        <figure class="photo">
                            <img src="../../../../assets/images/home/title-img.svg" alt="Couple" loading="lazy"
                                 height="100%" />
                        </figure>
                    </div>

                </div>
                <div class="">

                </div>
            </div>
        </div>
    </div>
</section>



<!-- to open service provider page
 router link
service-providers

-->








<app-key-features></app-key-features>
<app-workflow></app-workflow>
<app-testimonial></app-testimonial>
<app-links></app-links>
<app-footer></app-footer>