<section class="">
    <div class="container-fluid">

        <div class="stepper-card-container">
            <div class="stepper-card">
                <ng-container>
                    <div class="w-100-p">
                        <div class="d-flex justify-content-center form-width flex-column">
                            <div class="text-content">
                                <h1 class="title">Patient Information</h1>
                                <p class="lead paragraph-desc">
                                </p>
                            </div>

                            <div class="page-header-section mt-28">
                                <div class="input-field">
                                    <input type="text" class=" placeholder-text "
                                        placeholder="Search for Patient Information">
                                    <img src="../../../../assets/images/provider/Icon.png"
                                        alt="Toggle Password Visibility" style="cursor: pointer;" />
                                </div>
                                <div class="button-grid ">
                                    <div class="btn-group">
                                    </div>
                                </div>


                            </div>

                            <div class="card mt-20">
                                <div class="card-title">
                                    <h2> Patient Information</h2>
                                </div>
                                <div class="card-content">
                                    <div class="table-wrapper">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Patient Name</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Contact Number</th>
                                                    <th scope="col">City</th>
                                                    <th scope="col">State</th>
                                                    <th scope="col">Zip Code</th>
                                                    <th scope="col">Activation Status</th>
                                                    <th scope="col">Details</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let data of patientList; let i = index">
                                                    <!-- <tr> -->

                                                    <td> {{data.f_name}} {{data.l_name}}</td>
                                                    <td>{{data.email}}</td>
                                                    <td>{{data.contact_no}}</td>
                                                    <td>New York</td>
                                                    <td>New York</td>
                                                    <td>1212</td>


                                                    <td>
                                                        <div class="form-switch">

                                                            <input class="form-check-input" type="checkbox"
                                                                (change)="onCheckboxChange($event,data)"
                                                                id="flexSwitchCheckChecked" [checked]="data.isActive">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a class="tag_btn-detail"
                                                            (click)="viewDetails(data)">Details</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer-section ">
                                    <h3 class="page-index">Page {{itemInView}} of {{totalView}} </h3>
                                    <div class="">
                                        <ng-container *ngIf="patientList?.length">
                                            <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
                                                (pageChange)="onPageChange($event)"></app-pagination>
                                        </ng-container>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>

</section>