<app-header></app-header>
<section class="pb-20 mt-64">
    <div class="container">
        <div class="container d-flex flex-column">
            <h1 class="section-title">Last Updated: 08/10/2024</h1>
            <h2 class="h2-f-t text-capitalize"> Privacy Policy </h2>
            <p class="text-center paragraph">
                CurisNow Inc. (“Curis,” “we,” “us,” or “our”) values your privacy and is committed to protecting your
                personal information. This Privacy Policy outlines how we collect, use, and disclose information when
                you access our website, mobile applications, and other online services (collectively, “Services”).
            </p>

        </div>
        <div class="mt-100  mb-56">
            <div class="photos-grid w-100-p">
                <div class="card     content-area border-0">
                    <h3 class="h2-f-t-2 mt-40">Information We Collect</h3>
                    <ul>
                        <li class="mt-8"><strong>Information You Provide:</strong> Includes name, email, postal address, phone
                            number,
                            and other personal details when you create an account, request services, or contact us</li>
                        <li class="mt-8"><strong>Information You Provide: </strong>Includes browsing history, IP address, device
                            identifiers, and interaction data from cookies and other tracking technologies.</li>
                    </ul>

                    <h3 class="h2-f-t-2 mt-40">How We Use Your Information</h3>
                    <p class="paragraph-2">We use your information to provide and improve our Services, process
                        transactions, offer customer support, and communicate with you. We may also use your data for
                        analytics, marketing, and security purposes.
                    </p>



                    <h3 class="h2-f-t-2 mt-40">Disclosure of Information</h3>
                    <p class="paragraph-2">We may share your information with:
                    </p>
                    <ul>
                        <li class="mt-8"><strong>Service Providers and Contractors:</strong>  To help deliver and improve our
                            Services.</li>
                        <li class="mt-8"><strong>Legal and Regulatory Purposes: </strong>To comply with laws, protect our rights, or
                            during business transactions like mergers.</li>
                        <li class="mt-8"><strong>Aggregated or De-identified Information: </strong>For research and analytical
                            purposes.</li>
                    </ul>
                    <h3 class="h2-f-t-2 mt-40">Cookies and Tracking Technologies</h3>
                    <p class="paragraph-2">
                        We use cookies and similar technologies to collect information about your use of our Services,
                        which helps us enhance your experience. You can control cookies through your browser settings.


                    </p>
                    <h3 class="h2-f-t-2 mt-40">Data Transfer</h3>
                    <p class="paragraph-2">
                        Your information may be transferred to and processed in countries outside your home
                        jurisdiction, including the United States. We ensure compliance with applicable legal standards
                        for such transfers.

                    </p>
                    <h3 class="h2-f-t-2 mt-40">Your Choices</h3>
              
                    <ul>
                        <ol class="mt-8"><strong> Account Information:</strong> You can update or correct your account information at any
                            time. If you wish
                            to deactivate your account, contact us at support@curisnow.com.</ol>
                        <ol class="mt-8"><strong>Opt-Out: </strong>You may opt-out of certain marketing communications by following the
                            unsubscribe
                            instructions in those messages.</ol>
                    </ul>
                    <h3 class="h2-f-t-2 mt-40"> Additional Privacy Rights</h3>
                    <p class="paragraph-2">
                        If you are a resident of California or Colorado, you have additional rights under state privacy
                        laws, including access to, correction of, and deletion of your personal information.
                    </p>
                    <h3 class="h2-f-t-2 mt-40"> Data Retention</h3>
                    <p class="paragraph-2">
                        We retain your personal information as long as necessary to fulfill the purposes outlined in
                        this policy or as required by law. </p>
                    <h3 class="h2-f-t-2 mt-40">Security</h3>
                    <p class="paragraph-2">
                        We implement industry-standard security measures to protect your information from unauthorized
                        access, disclosure, or loss. </p>
                    <h3 class="h2-f-t-2 mt-40">Changes to This Policy</h3>
                    <p class="paragraph-2">
                        We may update this Privacy Policy from time to time. The revised policy will be posted on this
                        page with the updated date.
                    <h3 class="h2-f-t-2 mt-40">Contact Us</h3>
                    <p class="paragraph-2">
                        If you have any questions about this Privacy Policy, please contact us at support@curisnow.com.
                    </p>

                </div>

            </div>
        </div>
        <hr>
    </div>
</section>

<app-links></app-links>

<app-footer></app-footer>