<section class="pb-64 pt-64">
    <div class="container">
        <div class="row justify-content-start mb-64">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="ft_card d-flex flex-column">
                    <h2 class="section-title">Getting started</h2>
                    <h3 class="title">Getting started</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="row align-items-end justify-content-between">
                    <div class="col-12 col-md-12 col-lg-7 col-xl-7">
                        <figure class="photo">
                            <div class="d-flex flex-column g-36">
                                <div class="d-flex gap-20">
                                    <div class="btn-icon">
                                        <span class="icon-sty">1</span>
                                    </div>
                                    <div class="d-flex   flex-column mb-3">
                                        <h3 class="intro">Apply</h3>
                                        <p class="intro-para">Submit your application to join Curis and see if your
                                            practice is a good fit for our platform.</p>
                                    </div>
                                </div>
                                <div class="d-flex gap-20">
                                    <div class="btn-icon">
                                        <span class="icon-sty">2</span>
                                    </div>
                                    <div class="d-flex   flex-column mb-3">
                                        <h3 class="intro">Onboard</h3>
                                        <p class="intro-para">Complete a quick online form to provide us with the
                                            necessary information. We’ll get you up and running in no time.</p>
                                    </div>
                                </div>
                                <div class="d-flex gap-20">
                                    <div class="btn-icon">
                                        <span class="icon-sty">3</span>
                                    </div>
                                    <div class="d-flex   flex-column mb-3">
                                        <h3 class="intro">Serve patients through Curis</h3>
                                        <p class="intro-para">Within days, you can officially use Curis to accept
                                            patients without the constraints of traditional insurance.</p>
                                    </div>
                                </div>
                                <button class="view-btn" routerLink="/register-as-a-provider">Get Started ➜</button>
                            </div>
                        </figure>
                    </div>
                    <div class="col-12 col-md-12 col-lg-5 col-xl-5">
                        <figure class="photo">
                            <img src="../../../../assets/images/home/how-work.png" alt="Couple" loading="lazy"
                                width="100%" height="100%" />
                        </figure>
                    </div>

                </div>
                <div class="">

                </div>
            </div>
        </div>
    </div>
</section>