<ng-container *ngIf="isSuccess || successStatus">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="display-3 d-flex justify-content-center"><img
                        src="../../../assets/images/payment/success.png" width="100px" alt="">
                </h1>
                <h2 class="mb-4 mt-12 payement-title">Registrations Successful</h2>
                <p class="lead">
                    Registration successful! Welcome to your health journey. Log in to your Provider portal to view your upcoming appointment and start your path to a healthier you.

                </p>
                <a (click)="gotoDashboard()" class="btn btn-submit mt-3">Login Provider portal</a>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!isSuccess && !successStatus">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="display-3"><img src="../../../assets/images/" width="100px" alt=""></h1>
                <h2 class="mb-4">Registrations Failed</h2>
                <p class="lead">
                    Unfortunately, there was a problem in registration. Please try again.
                </p>
                <a (click)="gotoDashboard()" class="btn btn-primary mt-3">Go to Dashboard</a>
            </div>
        </div>
    </div>
</ng-container>