<section class="mb-64 mt-64">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="ft_card d-flex flex-column">
                    <h2 class="section-title">Features</h2>
                    <h3 class="title">Key Features of Curis</h3>
                    <p class="para">Curis simplifies healthcare access for the uninsured and under-insured. Our platform
                        connects patients with affordable medical services, enabling informed decisions and
                        cost-effective health management. Here are the key features that make Curis an essential tool
                        for navigating healthcare without traditional insurance:</p>

                </div>
            </div>
        </div>
        <div class="mt-36 mb-36"></div>
        <div class="row  gx-4 gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <ng-container *ngFor="let item of cardInfo">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-icon">
                                <i class="{{item.icon}} icon-sty"></i>
                            </span>
                        </div>
                        <div class="card-body mt-28">
                            <h3 class="card-title">{{item.title}}</h3>
                            <p class="card-content">
                                {{item.description}}
                            </p>
                        </div>
                    </div>
                </div>
            </ng-container>
          
        </div>
       
    </div>
    <!-- </div>
        </div>
    </div> -->
</section>