<section class="mb-64 mt-64">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="ft_card d-flex flex-column">
                    <h2 class="section-title">Features</h2>
                    <h3 class="title">Key Features of Curis</h3>
                    <p class="para">Curis simplifies healthcare access for the uninsured and under-insured. Our platform
                        connects patients with affordable medical services, enabling informed decisions and
                        cost-effective health management. Here are the key features that make Curis an essential tool
                        for navigating healthcare without traditional insurance:</p>

                </div>
            </div>
        </div>
        <div class="mt-36 mb-36"></div>
        <div class="row  gx-4 gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <ng-container *ngFor="let item of cardInfo">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-icon">
                                <i class="{{item.icon}} icon-sty"></i>
                            </span>
                        </div>
                        <div class="card-body mt-28">
                            <h3 class="card-title">{{item.title}}</h3>
                            <p class="card-content">
                                {{item.description}}
                            </p>
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <i class="bi bi-lightning-charge"></i>
                        <h5 class="card-title">Pay-for-Service Model</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Transparent pricing structure allowing patients to pay directly for medical
                            services without insurance.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <i class="bi bi-bar-chart"></i>
                        <h5 class="card-title">Economical Healthcare Options</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Curated selection of affordable healthcare services and providers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <i class="bi bi-emoji-smile"></i>
                        <h5 class="card-title">Economical Healthcare Options</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Curated selection of affordable healthcare services and providers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <i class="bi bi-emoji-smile"></i>
                        <h5 class="card-title">Economical Healthcare Options</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Curated selection of affordable healthcare services and providers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <i class="bi bi-chat"></i>
                        <h5 class="card-title">Economical Healthcare Options</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Curated selection of affordable healthcare services and providers.
                        </p>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- <div class="row justify-content-center ">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-smile-o"></i>
                        <h5 class="card-title">Provider Directory</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Comprehensive listing of healthcare professionals and facilities offering
                            services to uninsured patients.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-wrench"></i>
                        <h5 class="card-title">Appointment Booking</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Integrated system for scheduling appointments with chosen healthcare providers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-comment"></i>
                        <h5 class="card-title">Secure Patient Portal</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Protected access for managing personal health information and communication with
                            providers.
                        </p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <!-- </div>
        </div>
    </div> -->
</section>