<div class=" d-flex justify-content-center align-items-center h-100-p">

    <div class="login-box div-width">
        <h1 class="mb-12 title">Reset Your Password</h1>
        <p class="mb-32 description">A code will be sent to your email to reset the password. Please enter your email to
            receive the code.</p>
        <form [formGroup]="forgotFormGroup" autocomplete="off">
            <div class="mb-20">
                <label for="email" class="form-label">Email</label>
                <input type="text" formControlName="email" class="form-control placeholder-text "
                    placeholder="example@example.com">
            </div>


            <div class="d-flex gap-4 group-wrapper mt-12 ">
                <button type="button" class="btn btn-submit btn-width" (click)="verifyEmail()">Verify Email</button>
            </div>
        </form>
    </div>
</div>