.dialogbox {
    border-bottom: 1px solid rgb(222, 226, 230);
    place-content: center space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;

    border-bottom: 1px solid #dee2e6;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    height: 56px !important;
    width: 100% !important;
    border-bottom: 1px solid #dee2e6;
}

.dialoglabel {
    font-family: 'Poppins';
    font-style: normal;
    color: #403F3F;
    font-size: 20px;
    font-weight: 600px;
}

.dialogIcon {
    color: #000000;
    cursor: pointer;
}

.form-field {
    position: relative;
}

.error-state {
    position: absolute;
    transform: translateY(0%);
}



.date-input {
    background-color: transparent;
    padding-left: 10px;
    color: rgb(0, 0, 0);
  
  }


  