<div class="dialogbox ">
    <label class="dialoglabel">
        {{title}}
    </label>

    <!-- <mat-icon (click)="closeModal() " class="dialogIcon">close</mat-icon> -->
</div>

<!-- <div class="modal-body" style="padding: 4% !important;">
    <form [formGroup]="appointmentFormGroup">
        <div class="row align-items-start">
            <div class="row align-items-start mt-4">

                <div class="col-md-12">
                    <label class="form-check-label text-size-normal" for="flexCheckDefault">
                        Date
                    </label>
                    <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" formControlName="date" readonly
                        class="form-control form-field form-field">

                    <mat-datepicker #picker></mat-datepicker>

                    <div *ngIf="appointmentFormGroup.get('date')?.hasError('required') && appointmentFormGroup.get('date')?.touched"
                        class="text-danger error-state error-state">
                        Date is required.
                    </div>
                </div>
            </div>

            <div class="row align-items-start mt-4">
                <div class="col-md-6">

                    <label class="form-check-label text-size-normal" for="flexCheckDefault">
                        Start Time
                    </label>
                    <input formControlName="startTime" type="time" class="form-control placeholder-text  form-field "
                        id="exampleFormControlInput1" step="900">
                    <input class="form-control date-input flatpickr-input" type="text" mwlFlatpickr
                        formControlName="startTime" [noCalendar]="true" [minuteIncrement]="15" [disableMobile]="true"
                        [enableTime]="true" [dateFormat]="'H:i'">

                    <div *ngIf="appointmentFormGroup.get('startTime')?.hasError('required') && appointmentFormGroup.get('startTime')?.touched"
                        class="text-danger error-state error-state">
                        Start Time is required.
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="form-check-label text-size-normal" for="flexCheckDefault">
                        End Time
                    </label>

                    <input formControlName="endTime" type="time" class="form-control placeholder-text  form-field"
                        id="exampleFormControlInput1" step="900">
                    <input class="form-control date-input flatpickr-input" type="text" mwlFlatpickr
                        formControlName="endTime" [noCalendar]="true" [minuteIncrement]="15" [disableMobile]="true"
                        [enableTime]="true" [dateFormat]="'H:i'">

                    <div *ngIf="appointmentFormGroup.get('endTime')?.hasError('required') && appointmentFormGroup.get('endTime')?.touched"
                        class="text-danger error-state error-state">
                        End Time is required.
                    </div>
                </div>
            </div>

            <div class="row align-items-start mt-4 ">
                <div class="col-md-6">

                    <label class="form-check-label text-size-normal" for="flexCheckDefault">
                        Slot Type
                    </label>
                    <select formControlName="serviceName" class="form-select form-control text-size-normal form-field"
                        placeholder="Slot Type" id="inputGroupSelect01">
                        <option value=""> Slot Type</option>
                        <option class="text-size-normal" *ngFor="let opt of serviceLov" [value]="opt.value">
                            {{opt.value}}
                        </option>
                        <div *ngIf="appointmentFormGroup.get('serviceName')?.hasError('required') && appointmentFormGroup.get('serviceName')?.touched"
                            class="text-danger error-state">
                            Slot Type is required.
                        </div>
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="form-check-label text-size-normal" for="flexCheckDefault">
                        Location Name
                    </label>
                    <select formControlName="location" class="form-select form-control text-size-normal form-field"
                        placeholder="Location Name" id="inputGroupSelect01">
                        <option value=""> Location Name</option>
                        <option class="text-size-normal" *ngFor="let opt of locationLov" [value]="opt._id">
                            {{opt.locationName}}
                        </option>
                        <div *ngIf="appointmentFormGroup.get('location')?.hasError('required') && appointmentFormGroup.get('location')?.touched"
                            class="text-danger error-state">
                            Location Name is required.
                        </div>
                    </select>
                </div>


            </div>
        </div>
    </form>
</div>



<div class="modal-footer">
    <button type="button" class="btn btn-dark text-size-normal" (click)="closeModal()">Close</button>
    <button *ngIf="isEditMode" type="button" class="btn bg-primary-light text-light text-size-normal"
        (click)="updateAppointmentInformation()" [disabled]="appointmentFormGroup.invalid">Save</button>
    <button *ngIf="!isEditMode" type="button" class="btn bg-primary-light text-light text-size-normal"
        (click)="saveAppointmentInformationData()" [disabled]="appointmentFormGroup.invalid">Save</button>
</div> -->