<app-header></app-header>
<section class="pb-20 mt-64">
    <div class="container">
        <div class="container d-flex flex-column">
            <h1 class="section-title">Last Updated: 08/10/2024</h1>
            <h2 class="h2-f-t text-capitalize"> Notice of Privacy Practices </h2>
            <p class="text-center paragraph">
                THIS NOTICE DESCRIBES HOW MEDICAL INFORMATION ABOUT YOU MAY BE USED AND DISCLOSED AND HOW YOU CAN GET
                ACCESS TO THIS INFORMATION. PLEASE REVIEW IT CAREFULLY
            </p>

        </div>
        <div class="mt-100  mb-56">
            <div class="photos-grid w-100-p">
                <div class="card     content-area border-0">
                    <h3 class="h2-f-t-2 mt-40">OVERVIEW</h3>

                    <p class="paragraph-2">This notice describes how CurisNow Inc. (“Marketplace,” “we,” or “us”) may
                        disclose health information about you, your rights regarding that information, and our legal
                        obligations to protect it. Curis is a healthcare marketplace connecting users with providers,
                        sharing necessary information to carry out treatment, payment, and healthcare operations. All
                        entities associated with Curis adhere to the terms of this notice.

                    </p>
                    <p class="paragraph-2 mt-12"> We are legally required to ensure your health information is kept
                        private, notify you following
                        any breach of your unsecured protected health information, and follow the terms outlined here.
                        You may request a paper copy of this notice, and we reserve the right to change our privacy
                        practices and this notice at any time.

                    </p>



                    <h3 class="h2-f-t-2 mt-40">HOW YOUR INFORMATION IS USED</h3>
                    <p class="paragraph-2 mb-12">We may use and disclose your health information for providing services,
                        including treatment, payment, and healthcare operations. For example:
                    </p>
                    <ul>
                        <li class="mt-8"><strong>Treatment:</strong> Sharing your health information with providers
                            within the Curis network for consultations or referrals.
                        </li>
                        <li class="mt-8"><strong>Payment: </strong>Submitting claims to your insurance company for
                            reimbursement.</li>
                        <li class="mt-8"><strong>Healthcare Operations: </strong>Reviewing treatment procedures for
                            quality assurance and compliance.</li>
                    </ul>
                    <p class="paragraph-2 mt-12"> Written authorization is required for uses beyond these purposes,
                        except under specific circumstances outlined below.

                    </p>


                    <h3 class="h2-f-t-2 mt-40">DISCLOSURES WITHOUT AUTHORIZATION</h3>
                    <p class="paragraph-2 mb-12">
                        We may disclose your health information without authorization in the following situations:

                    </p>
                    <ul>
                        <li class="mt-8"><strong>Emergencies:</strong> To address immediate health emergencies
                        </li>
                        <li class="mt-8"><strong>Judicial and Administrative Proceedings: </strong> In response to valid
                            legal processes.</li>
                        <li class="mt-8"><strong>Public Health and Safety: </strong> If you are an immediate danger to
                            yourself or others, or in cases of abuse or neglect.</li>
                        <li class="mt-8"><strong>Health Oversight Activities: </strong>For government audits or
                            inspections.</li>
                        <li class="mt-8"><strong>Business Associates: </strong>To partners performing services on our
                            behalf, under strict confidentiality agreements.</li>
                        <li class="mt-8"><strong>Research: </strong> Under specific circumstances and typically with
                            non-identifying information.</li>
                        <li class="mt-8"><strong>Marketing and Communication: </strong> To inform you about services or
                            schedule appointments, unless you opt out.</li>
                    </ul>
                    <h3 class="h2-f-t-2 mt-40">YOUR INDIVIDUAL RIGHTS</h3>
                    <p class="paragraph-2 mb-12">
                        You have rights regarding your health information, including:
                    </p>
                    <ul>
                        <li class="mt-8"><strong>Right to Inspect and Copy:</strong> Access your health information with
                            certain exceptions.
                        </li>
                        <li class="mt-8"><strong>Right to Amend: </strong> Request corrections to your health
                            information.</li>
                        <li class="mt-8"><strong>Right to an Accounting of Disclosures: </strong> Receive a list of
                            non-routine disclosures of your information.</li>
                        <li class="mt-8"><strong>Right to Request Restrictions: </strong>Limit how your information is
                            used or disclosed.</li>
                        <li class="mt-8"><strong>Right to Request Confidential Communications: </strong>Specify how and
                            where you wish to be contacted about your health care.</li>
                        <li class="mt-8"><strong>Right to File Complaints: </strong> Contact us or the Secretary of
                            Health and Human Services if you believe your privacy rights have been violated.</li>
                    </ul>
                    <h3 class="h2-f-t-2 mt-40"> EMAIL AND TEXT MESSAGES</h3>
                    <p class="paragraph-2">
                        Communications via email or text may not be secure. For urgent matters, please contact emergency
                        services directly. </p>

                </div>

            </div>
        </div>
        <hr>
    </div>
</section>

<app-links></app-links>

<app-footer></app-footer>