@import url("https://fonts.googleapis.com/css2?family=Inter");
@import "./assets/styles/helpers";

body {
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #52525B;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #101828;
}

.main_heading {
  font-size: 24px;
  line-height: normal;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
}

.sub_title {
  font-size: 18px;
  font-weight: 700;
  color: #101828;
  margin: 0 0 12px 0;
  padding: 0;
}

.mini_title {
  font-size: 16px;
  color: #2C2646;
  font-weight: 700;
}

.indicate {
  font-size: 16px;
  color: #0086C9;
  font-weight: 700;
}

.nav-tabs .web_button {
  border: 0;
  background-color: transparent;
  color: #101828;
}

.nav-tabs .web_button.active,
.nav-tabs .web_button.hover,
.web_button {
  background-color: #0086C9;
  color: white;
  height: 40px;
  padding: 6px 15px;
  text-align: center;
  border-radius: 8px;
  border: 0;
  width: 100%;
  font-size: 16px;
}


.border-secondary {
  border: 0.1px solid #BCDBEC !important;
  border-radius: 5px;
}


.container-fluid {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.col-1,
.col-2 {
  width: 100%;
}

// blog
.tags a {
  font-size: 14px;
  font-weight: 600;
  color: #065986;
  padding: 8px 10px;
  text-align: center;
  border-radius: 50px;
  background-color: #E0F2FE;
  white-space: nowrap;
  line-height: normal;
}

// error-state
.error-state {
  position: absolute;
  transform: translateY(0%);
  top: 84px;
  font-size: 12px;
}

.navbar-toggler {
  margin: 0;
  padding: 0;
  border: 0 !important;
  outline: none;
  box-shadow: 0 0 0 !important;
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .service_provider_row {
    grid-template-columns: 60% 40% !important;
  }
}

@media screen and (max-width: 991px) and (min-width: 200px) {
  .navbar ul {
    align-items: start !important;
    width: 100% !important;
    gap: 15px !important;
    padding: 15px 5px !important;
  }

  .navbar {
    padding: 5px 15px !important;
  }

  .service_provider_row {
    grid-template-columns: 100% !important;
  }

}

@media screen and (max-width: 767px) and (min-width: 200px) {
  .card_b {
    flex-direction: column !important;
  }

}




.toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}



button.fc-prev-button.btn.btn-primary {
  background-color: white;
  color: #667085;
  border-color: #B6C1CA;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  padding: 12px;

}

button.fc-next-button.btn.btn-primary {
  background-color: white;
  color: #667085;
  border-color: #B6C1CA;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  padding: 12px;

}


.fc-toolbar-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: #14181F;
}


button.fc-today-button.btn.btn-primary,
button.fc-dayGridMonth-button.btn.btn-primary,
button.fc-timeGridWeek-button.btn.btn-primary,
button.fc-timeGridDay-button.btn.btn-primary,
button.fc-listWeek-button.btn.btn-primary {
  background-color: white;
  color: #14181F;
  text-transform: capitalize;
  border-color: #B6C1CA;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  padding: 12px;
  
}

.fc-col-header {
  background-color: #DCE0E5;
}

.fc-col-header th {
  color: #6F7C8E;
  // font-size: 15px;
  // font-weight: 500;
  // line-height: 21px;
  text-align: left;
  margin-left: 8px;

}

.fc-daygrid-day-number {
  font-size: 24px;
  font-weight: 600;
  line-height: 33.6px;
  text-align: left;
  color: #14181F;

}