<app-header></app-header>
<section class="booking_flow">
  <div class="container-fluid">
    <div class="booking_row">
      <div class="col-1">
        <h1 class="main_heading">Your Appointment with Dr. Shah</h1>
        <div class="d-flex g-16 py-20">
          <div class=""><i class="bi bi-calendar-week"></i></div>
          <div class="d-flex flex-column g-6">
            <h2 class="sub_title">Appointment Date & Time</h2>
            <p>Jul 27, 9:30 AM - 10:00 AM</p>
          </div>
        </div>
        <div class="d-flex g-16 py-20">
          <div class=""><i class="bi bi-geo-alt"></i></div>
          <div class="d-flex flex-column g-6">
            <h2 class="sub_title">Location</h2>
            <p>Come say hello at our clinic.</p>
            <span class="sub_title">604 Davis Cir SWHUNTSVILLE, AL 35801</span>
          </div>
        </div>
        <div class="d-flex g-16 py-20">
          <div class=""><i class="bi bi-telephone"></i></div>
          <div class="d-flex flex-column g-6">
            <h2 class="sub_title">Contact Number</h2>
            <p>Mobile No.</p>
            <span class="sub_title">+923450513438</span>
          </div>
        </div>
        <div class="d-flex g-16 py-20">
          <div class=""><i class="bi bi-currency-dollar"></i></div>
          <div class="d-flex flex-column g-6">
            <h2 class="sub_title">Service Fee</h2>
            <p>Self-pay</p>
            <span class="sub_title">$ 100</span>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="stepper-card-container">
          <div class="stepper-card">
            <div class="stepper-container">
              <div class="step">
                <ng-container *ngIf="!personalInformationStepper">
                  <div class="circle" [ngClass]="{'circle-grey':!personalInformationStepper}">1
                  </div>
                </ng-container>
                <ng-container *ngIf="personalInformationStepper === true">
                  <div class=""><i class="bi bi-patch-check-fill circle"></i>
                  </div>
                </ng-container>
                <span class="activeText"
                  [ngClass]="{'activeText': personalInformationStepper, 'text-medium': !personalInformationStepper}">Add
                  Email</span>
              </div>
              <div class="line-parent mt-3">
                <div class="line"></div>
              </div>
              <div class="step">
                <ng-container *ngIf="!practiceInformationStepper">
                  <div class="circle" [ngClass]="{'circle-grey':!practiceInformationStepper}">2
                  </div>

                </ng-container>
                <ng-container *ngIf="practiceInformationStepper === true">
                  <div class=""><i class="bi bi-patch-check-fill circle"></i>
                  </div>
                </ng-container>
                <span
                  [ngClass]="{'activeText': practiceInformationStepper, 'text-medium': !practiceInformationStepper}">Create
                  Account</span>
              </div>
              <div class="line-parent mt-3">
                <div class="line"></div>
              </div>
              <div class="step">
                <ng-container *ngIf="!skillsInformationStepper">
                  <div class="circle" [ngClass]="{'circle-grey':!skillsInformationStepper}">3
                  </div>
                </ng-container>
                <ng-container *ngIf="skillsInformationStepper === true">
                  <div class=""><i class="bi bi-patch-check-fill circle"></i>
                  </div>
                </ng-container>
                <span [ngClass]="{'activeText': skillsInformationStepper, 'text-medium': !skillsInformationStepper}"
                  class="text-medium">Pay Fee</span>
              </div>
              <div class="line-parent mt-3">
                <div class="line"></div>
              </div>
              <div class="step">
                <ng-container *ngIf="!accountInformationStepper">
                  <div class="circle" [ngClass]="{'circle-grey':!accountInformationStepper}">4
                  </div>
                </ng-container>
                <ng-container *ngIf="accountInformationStepper === true">
                  <div class=""><i class="bi bi-patch-check-fill circle"></i>
                  </div>
                </ng-container>
                <span [ngClass]="{'activeText': accountInformationStepper, 'text-medium': !accountInformationStepper}"
                  class="text-medium">Congratulations</span>
              </div>
            </div>
            <div class="d-flex align-items-start justify-content-center form-width" *ngIf="personalInformationStepper">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
