<footer>
    <div class="container ">

        <div class="row">
            <div class="col-12">
                <hr>
                <div class="btm_bar d-flex align-items-center justify-content-between">
                    <div class="credits">
                        <img src='../../../assets/images/home/logo.svg' height="30px" width="64px" alt="Curis Now" title="Curis Now"
                            loading="lazy" />
                    </div>
                    <p class="copyright mb-0"><span>©</span> 2024 Curis. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>

</footer>