<!-- <div class="main">
    <div class="panel-heading mb-0">
        <h3 class="panel-title fw-600 bg-theme1 white1 mb-0">
            <label class="nav-title">Appointments</label> -->

            <!-- <a data-toggle="popover" class="fw-200 w-32-p ml-10 grey-400" style="float: right;" data-original-title=""
                data-trigger="hover" data-Container="body" data-placement="top" data-html="true">
                <mat-form-field class="w-100-p fs-12" appearance="outline">

                    <mat-select [formControl]="yearSelect" placeholder="Select Year">
                        <mat-option *ngFor="let item of filterYear ;  let i = index" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </a> -->


        <!-- </h3>
    </div> -->

    <!-- <div *ngIf="graphArray.length === 0; else card" class="no-graph w-100-p">
        <img src="assets/images/no-graph.svg" alt="" width="80px"
            style="opacity: 0.6; margin-top: 55px!important;"><br><span>No record
            found!</span>
    </div>
    <ng-template #card> -->
    <!-- <div id="chartdiv1" style="height: 300px;"></div> -->
    <!-- </ng-template> -->

<!-- </div> -->


<div class="card mt-20 p-24">
    <div class="card-title">
        <h2> Appointments</h2>
    </div>
    <hr />

    <div id="chartdiv1" style="height: 400px;"></div>
</div>