<div class="card mt-20 p-24">
    <div class="d-flex align-items-center justify-content-between ">
        <div class="card-title">
            <h2> Appointments</h2>
        </div>
        <div class="button-grid ">
            <div class="btn-group">
                <button class="custom_dropdown_btn" type="button" id="dropdownMenuClickable" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside" aria-expanded="false">
                    {{ selectedLabel || "Select Year" }}
                </button>
                <ul class="dropdown-menu">
                    <div class="panel-body inline-flatpickr">

                        <li *ngFor="let item of years" class="dropdown-item" (click)="selectItem(item)">
                            {{ item.value }}
                        </li>
                    </div>
                </ul>

            </div>
        </div>
    </div>
    <hr />

    <div id="chartdiv1" style="height: 400px;"></div>
</div>