.sidebar {
  // position: fixed;
  left: 0;
  top: 0;

  height: 100%;
  transition: 0.3s;

  color: #6d6e7e;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  width: 60px;

  &.expanded {
    width: 100%;

    .header {
      h1 {
        margin-left: 0px;
      }

      .chevron {
        margin-left: 0px;

        &::before {
          transform: rotate(-135deg);
        }
      }
    }

    .content {
      .link {
        .content {
          .title {
            max-width: 160px;
          }

          .icon {
            margin-right: 3px;
          }
        }

        .children {
          .content {
            padding-left: 30px;
          }
        }
      }
    }
  }


  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    //  background: #0f1017;

    h1 {
      font-size: 20px;
      color: #6d6e7e;
      margin: 0;
      flex: 1;
      transition: 0.3s;

      margin-left: -100px;
    }

    .chevron {
      color: #6d6e7e;
      cursor: pointer;
      transition: 0.3s;
      margin-left: -25px;

      padding: 10px;
      min-width: 20px;
      height: 20px;
      display: block;
      text-align: center;

      &::before {
        transition: 0.3s;
        transform: rotate(45deg);
      }

      &:hover {
        color: white;
      }
    }
  }

  .content {
    .link {
      .children {
        .content {
          background: #27283a;
          // padding-left: 30px;
          padding-left: 10px;

          &.active {
            background: #191a27;
          }
        }
      }



      .content {
        display: flex;
        align-items: center;
        padding: 10px;
        justify-content: space-evenly;
        // border-bottom: 1px solid #dfdfdf;
        // border-top: 1px solid #dfdfdf;
        cursor: pointer;
        // transition: 0.3s;


        &:hover {
          // background: #3ca5dc;
          // background-color: #F0F9FF;
          // border: 2px solid #36BFFA;
          // border-radius: 8px;

          .title {
            color: #0086C9;
          }

          .icon-colors {
            color: #0086C9;
          }


        }

        &.active {
          // background: #3ca5dc;
          background-color: #F0F9FF;
          border: 2px solid #36BFFA;
          border-radius: 8px;

          .title {
            color: #0086C9;
          }

          .icon-colors {
            color: #0086C9;
          }
        }

        .icon {
          flex: 0 0 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 0px;
        }

        .title {
          flex: 1;
          transition: 0.3s;
          max-width: 0px;
          overflow: hidden;
        }

        .icon-colors {
          color: #667085;

          &:hover {

            color: #0086C9;
          }

          &:active {

            color: #0086C9;
          }
        }
      }
    }
  }
}


.sidebar {
  justify-content: space-around !important;
}

.active {
  // background: #3ca5dc;

  .title {
    color: white;
  }

  .icon-colors {
    color: white;
  }
}



.sidebar-borders {
  border-bottom: none;
  border-top: none;
  border-radius: 0px;
  border-left: none;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #344054;

}